﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "ข้อมูลการให้วัคซีน";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Vaccination.cshtml";
}

<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @@media (min-width: 768px) {
        .flex-row {
            display: flex;
            flex-wrap: wrap;
        }
    }

    [class*='col-'] {
        margin-bottom: 10px;
    }

        [class*='col-'] .box {
            height: 100%;
            min-height: 150px;
        }

    /*.add-project .box {
        user-select: none;
        cursor: pointer;
        display: table;
    }

        .add-project .box .box-body {
            display: table-cell;
            width: 100%;
            height: 100%;
            padding: 10px;
            vertical-align: middle;
        }*/

    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }

    [hidden] {
        display: none !important;
    }
</style>

<section class="content" style="min-height: 0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>การให้วัคซีน</h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-12" style="padding: 0">
                        <div class="col-sm-offset-10 col-sm-2">
                            <button class="btn btn-warning form-control" data-target="#modal_Add" data-toggle="modal">เพิ่มข้อมูล</button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table class="table table-bordered tbl_Vaccination" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="hidden">docId</th>
                                    <th class="col-sm-3 text-center">วันที่ฉีดวัคซีน</th>
                                    <th class="col-sm-7 text-center">รายละเอียด</th>
                                    <th class="col-sm-2 text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="overlay" style="display:none;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal_Add" style="display: none;">
    <form id="formAdd" class="form-horizontal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียด</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="DocId" class="hidden" readonly />
                    <div class="form-group">
                        <label class="col-sm-3 control-label">วันที่ฉีดวัคซีน</label>
                        <div class="col-sm-9"><input type="text" class="form-control" name="VaccinationDate" required /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">รายละเอียด</label>
                        <div class="col-sm-9"><textarea class="form-control" name="Detail" rows="5" style="resize:none;" required></textarea></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-sm btn-default fa fa-plus" data-target="#modal_Vaccine" data-toggle="modal"> เพิ่มข้อมูลวัคซีน</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tbl_Vaccine" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="hidden">docId</th>
                                        <th class="col-sm-3 text-center">รหัส</th>
                                        <th class="col-sm-7 text-center">ชื่อ</th>
                                        <th class="col-sm-2 text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-sm btn-default fa fa-plus" data-target="#modal_Chick" data-toggle="modal"> เพิ่มข้อมูลไก่</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tbl_Chick" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="hidden">docId</th>
                                        <th class="col-sm-3 text-center">รหัส</th>
                                        <th class="col-sm-7 text-center">ชื่อ</th>
                                        <th class="col-sm-2 text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" id="mdAdd_btn_Inactive" class="btn btn-danger pull-left hidden">ยกเลิกข้อมูล</button>
                    <button type="submit" id="mdAdd_btn_Save" class="btn btn-warning"><i class="fa fa-save"></i> บันทึก</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าจอ</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modal_Vaccine" style="display: none;">
    <form class="form-horizontal">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">ข้อมูลวัคซีน</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <table id="tbl_VcData" class="table table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="hidden">DocId</th>
                                    <th class="col-sm-4 text-center">รหัส</th>
                                    <th class="col-sm-8 text-center">ชื่อ</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modal_Chick" style="display: none;">
    <form class="form-horizontal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">ข้อมูลไก่</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <table id="tbl_ChickData" class="table table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="hidden">DocId</th>
                                    <th class="col-sm-4 text-center">รหัส</th>
                                    <th class="col-sm-8 text-center">ชื่อ</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

@section Script {
    <script>
        $('.navbar-nav > li').show();

        var vaccine = {
            api: '/App/Vaccination',
            init: function () {
                var self = this;
                self.event();
                self.loadAll();
            },
            control: {
                container: $('#container'),
                tbl_Vaccination: $('.tbl_Vaccination'),
                modal_Add: $('#modal_Add'),
                formAdd: $('#formAdd'),
                mdAdd_btn_Inactive: $('#mdAdd_btn_Inactive'),
                tbl_Vaccine: $('#tbl_Vaccine'),
                tbl_Chick: $('#tbl_Chick'),
                modal_Vaccine: $('#modal_Vaccine'),
                tbl_VcData: $('#tbl_VcData'),
                modal_Chick: $('#modal_Chick'),
                tbl_ChickData: $('#tbl_ChickData'),
                btn_deleteBugRow: $('[name="btn_deleteBugRow"]'),
            },
            event: function () {
                var self = this;
                self.control.modal_Add.on('show.bs.show.bs.modal', function () {
                    if (self.control.formAdd.find('[name="DocId"]').val() != '') {
                        self.control.mdAdd_btn_Inactive.removeClass('hidden')
                        self.load()
                    } else {
                        var date = moment(new Date()).format('YYYY-MM-DD')
                        self.control.modal_Add.find('[name="VaccinationDate"]').val(date)
                    }
                })
                self.control.mdAdd_btn_Inactive.on('click', function () {
                    self.delete()
                })
                self.control.modal_Add.on('hide.bs.hide.bs.modal', function () {
                    self.control.formAdd[0].reset()
                    self.control.tbl_Vaccine.find('tbody tr').remove();
                    self.control.tbl_Chick.find('tbody tr').remove();
                    self.control.mdAdd_btn_Inactive.addClass('hidden')
                })
                self.control.modal_Vaccine.on('show.bs.show.bs.modal', function () {
                    self.loadVaccineData()
                })
                self.control.tbl_VcData.on('click', 'tbody tr', function (e) {
                    var currow = $(e.currentTarget).closest('tr');
                    var id = currow.find('td:eq(0)').text()
                    var code = currow.find('td:eq(1)').text()
                    var name = currow.find('td:eq(2)').text()
                    var check = false
                    self.control.tbl_Vaccine.find('tbody > tr').each(function (i, e) {
                        var vcId = $(e).closest('tr').find('td:eq(0)').text()
                        if (vcId == id) {
                            alert('มีข้อมูลนี้อยู่แล้ว !!');
                            check = true
                        }
                    })
                    if (!check) {
                        self.control.tbl_Vaccine.append(`<tr><td class="hidden">${id}</td><td>${code}</td><td>${name}</td><td class="text-center"><i class="fa fa-minus-circle" style="cursor:pointer" name="btn_deleteBugRow"></i></td></tr>`)
                        self.control.modal_Vaccine.modal('hide');
                    }
                })
                self.control.modal_Chick.on('show.bs.show.bs.modal', function () {
                    self.loadChickData()
                })
                self.control.tbl_ChickData.on('click', 'tbody tr', function (e) {
                    var currow = $(e.currentTarget).closest('tr');
                    var id = currow.find('td:eq(0)').text()
                    var code = currow.find('td:eq(1)').text()
                    var name = currow.find('td:eq(2)').text()
                    var check = false
                    self.control.tbl_Chick.find('tbody > tr').each(function (i, e) {
                        var chickId = $(e).closest('tr').find('td:eq(0)').text()
                        if (chickId == id) {
                            alert('มีข้อมูลนี้อยู่แล้ว !!');
                            check = true
                        }
                    })
                    if (!check) {
                        self.control.tbl_Chick.append(`<tr><td class="hidden">${id}</td><td>${code}</td><td>${name}</td><td class="text-center"><i class="fa fa-minus-circle" style="cursor:pointer" name="btn_deleteBugRow"></i></td></tr>`)
                        self.control.modal_Chick.modal('hide');
                    }
                })
                self.control.modal_Add.on('click', '[name="btn_deleteBugRow"]', function (e) {
                    $(e.currentTarget).closest('tr').remove();
                })
                self.control.formAdd.submit(function (e) {
                    e.preventDefault()
                    if (self.control.tbl_Vaccine.find('tbody > tr').length == 0) {
                        alert('กรุณาเลือกวัคซีน !!');
                        return
                    }
                    if (self.control.tbl_Chick.find('tbody > tr').length == 0) {
                        alert('กรุณาเลือกไก่ !!');
                        return
                    }
                    self.save()
                })
                self.control.tbl_Vaccination.on('click', '[name="btn_Edit"]', function (e) {
                    var currow = $(e.currentTarget).closest('tr');
                    var id = currow.find('td:eq(0)').text()
                    self.control.formAdd.find('[name="DocId"]').val(id)
                    self.control.modal_Add.modal('show')
                })
            },
            save: function () {
                var self = this;
                self.control.modal_Add.find('.overlay').show()
                var vaccineData = []
                var chickData = []
                self.control.tbl_Vaccine.find('tbody > tr').each(function (i, e) {
                    vaccineData.push($(e).closest('tr').find('td:eq(0)').text())
                })
                self.control.tbl_Chick.find('tbody > tr').each(function (i, e) {
                    chickData.push($(e).closest('tr').find('td:eq(0)').text())
                })
                $.ajax({
                    url: vaccine.api + '/Save',
                    method: 'POST',
                    data: {
                        formData: self.control.formAdd.serializeToJSON(),
                        vaccines: vaccineData,
                        chickens: chickData
                    },
                    success: function (res) {
                        alert(res);
                    },
                    error: function (err) { alert('Error : ', err) },
                }).done(function () {
                    self.control.modal_Add.find('.overlay').hide()
                    self.control.modal_Add.modal('hide')
                    self.loadAll()
                })
            },
            load: function () {
                var self = this;
                self.control.modal_Add.find('.overlay').show()
                $.ajax({
                    url: vaccine.api + '/GetById',
                    method: 'GET',
                    data: {
                        docId: self.control.formAdd.find('[name="DocId"]').val()
                    },
                    success: function (res) {
                        //console.log(res);
                        self.control.formAdd.dejsonify(res.Data)
                        $.each(res.Vaccines, function (i, e) {
                            self.control.tbl_Vaccine.append(`<tr><td class="hidden">${e.DocId}</td><td>${e.VcCode}</td><td>${e.VcName_Th}</td><td class="text-center"><i class="fa fa-minus-circle" style="cursor:pointer" name="btn_deleteBugRow"></i></td></tr>`)
                        })
                        $.each(res.Chickens, function (i, e) {
                            self.control.tbl_Chick.append(`<tr><td class="hidden">${e.DocId}</td><td>${e.Code}</td><td>${e.Name}</td><td class="text-center"><i class="fa fa-minus-circle" style="cursor:pointer" name="btn_deleteBugRow"></i></td></tr>`)
                        })
                    },
                }).done(function () {
                    self.control.modal_Add.find('.overlay').hide();
                });
            },
            loadAll: function () {
                var self = this;
                self.control.container.find('.overlay').show()
                var table = self.control.tbl_Vaccination;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: vaccine.api + '/List',
                    method: 'GET',
                    success: function (res) {
                        $.each(res, function (i, e) {
                            table.append(`<tr>
                                            <td class="hidden">${e.DocId}</td>
                                            <td class="text-center">${e.VaccinationDate}</td>
                                            <td>${e.Detail}</td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-info" name="btn_Edit">
                                                    แก้ไข
                                                </button>
                                            </td>
                                          </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[1, "asc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "lengthMenu": "แสดง _MENU_ รายการ",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            },
                        }
                    });
                    self.control.container.find('.overlay').hide();
                });
            },
            loadVaccineData: function () {
                var self = this;
                self.control.modal_Vaccine.find('.overlay').show()
                var table = self.control.tbl_VcData;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: '/App/Vaccination/VaccineData/List',
                    method: 'GET',
                    success: function (res) {
                        $.each(res, function (i, e) {
                            table.append(`<tr>
                                            <td class="hidden">${e.DocId}</td>
                                            <td>${e.VcCode}</td>
                                            <td>${e.VcName_Th}</td>
                                          </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[1, "asc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "lengthMenu": "แสดง _MENU_ รายการ",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            },
                        }
                    });
                    self.control.modal_Vaccine.find('.overlay').hide();
                });
            },
            loadChickData: function () {
                var self = this;
                self.control.modal_Chick.find('.overlay').show()
                var table = self.control.tbl_ChickData;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: '/App/ChickenData/List',
                    method: 'GET',
                    success: function (res) {
                        $.each(res, function (i, e) {
                            table.append(`<tr>
                                            <td class="hidden">${e.DocId}</td>
                                            <td>${e.Code}</td>
                                            <td>${e.Name}</td>
                                          </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[1, "asc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "lengthMenu": "แสดง _MENU_ รายการ",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            },
                        }
                    });
                    self.control.modal_Chick.find('.overlay').hide();
                });
            },
            delete: function () {
                var self = this;
                self.control.modal_Add.find('.overlay').show()
                $.ajax({
                    url: vaccine.api + '/Delete',
                    method: 'POST',
                    data: {
                        docId: self.control.formAdd.find('[name="DocId"]').val()
                    },
                    success: function (res) {
                        alert(res);
                    },
                    error: function (err) { alert('Error : ', err) },
                }).done(function () {
                    self.control.modal_Add.find('.overlay').hide()
                    self.control.modal_Add.modal('hide')
                    self.loadAll()
                })
            },
        }

        $(function () {
            vaccine.init();
            $('[name="VaccinationDate"]').datetimepicker({ format: 'YYYY-MM-DD' });
        });
    </script>
}