﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "อนุมัติพนักงาน";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Security.cshtml";
}

<style>
    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }
</style>

<section class="content" style="min-height:0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>รายชื่อผู้ลงทะเบียน</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <table class="table table-bordered" id="tbl_PendingUser">
                            <thead>
                                <tr>
                                    <th class="col-sm-3 text-center">อีเมล์</th>
                                    <th class="col-sm-6 text-center">ชื่อ - นามสกุล</th>
                                    <th class="col-sm-2 text-center">เบอร์โทรศัพท์</th>
                                    <th class="col-sm-1 text-center"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</section>

@section Script {
    <script>
        $('.navbar-nav > li').show();

        var user = {
            api: '/App/Security/ApproveUser',
            init: function () {
                var self = this;
                self.event();
                self.loadAll();
            },
            control: {
                container: $('#container'),
                tbl_PendingUser: $('#tbl_PendingUser'),
            },
            event: function () {
                var self = this;
                self.control.tbl_PendingUser.on('click', '[name="btn_Approve"]', function (e) {
                    var currow = $(e.currentTarget).closest('tr')
                    var docId = currow.find('td:eq(0)').text()
                    self.approveUser(docId)
                })
            },
            approveUser: function (docId) {
                var self = this;
                self.control.container.find('.overlay').show();
                $.ajax({
                    url: user.api + '/ChangeStatus',
                    method: 'POST',
                    data: {
                        docId: docId,
                        status: 'Active'
                    },
                    success: function (res) {
                        swal(res, '', 'success')
                    },
                    error: function (err) { swal(err, '', 'error') },
                }).done(function () {
                    self.control.container.find('.overlay').hide();
                    self.loadAll();
                });
            },
            loadAll: function () {
                var self = this;
                self.control.container.find('.overlay').show();
                self.control.container.find('.devTable').remove();
                var table = self.control.tbl_PendingUser
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: user.api + '/ListPendingUser',
                    method: 'GET',
                    success: function (res) {
                        console.log(res);
                        $.each(res, function (i, e) {
                            table.append(`<tr>
                                            <td>${e.DocId}</td>
                                            <td>${e.Name}</td>
                                            <td class="text-center">${e.PhoneNo}</td>
                                            <td class="text-center"><button type="button" class="btn btn-sm btn-warning" name="btn_Approve">อนุมัติ</button></td>
                                          </tr>`);
                        });
                        table.dataTable({
                            "order": [[0, "asc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                                "emptyTable": "ไม่มีข้อมูล",
                                "search": "ค้นหา:",
                                "lengthMenu": "แสดง _MENU_ รายการ",
                                "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                                "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                                "paginate": {
                                    "next": "ถัดไป",
                                    "previous": "ย้อนกลับ"
                                },
                            }
                        });
                    },
                    error: function () { },
                }).done(function () {
                    self.control.container.find('.overlay').hide();
                });
            },
        }

        $(function () {
            user.init();
        });
    </script>
}