﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "รายชื่อพนักงาน";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Security.cshtml";
}

<style>
    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }
</style>

<section class="content" style="min-height:0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>รายชื่อพนักงาน</h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-12" style="padding: 0">
                        <div class="col-sm-offset-10 col-sm-2">
                            <button class="btn btn-warning form-control" data-target="#modal_Role" data-toggle="modal">เพิ่มข้อมูล</button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h4><strong>รายชื่อพนักงานที่ใช้งานได้</strong></h4>
                        <table class="table table-bordered" id="tbl_ActiveUser" width="100%">
                            <thead>
                                <tr>
                                    <th class="col-sm-3 text-center">อีเมล์</th>
                                    <th class="col-sm-4 text-center">ชื่อ - นามสกุล</th>
                                    <th class="col-sm-2 text-center">เบอร์โทรศัพท์</th>
                                    <th class="col-sm-1 text-center">สิทธิ์</th>
                                    <th class="col-sm-2 text-center"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-sm-12"><hr style="width:100%;" /></div>
                    <div class="col-sm-12">
                        <h4><strong>รายชื่อพนักงานที่ยกเลิกแล้ว</strong></h4>
                        <table class="table table-bordered" id="tbl_InActiveUser" width="100%">
                            <thead>
                                <tr>
                                    <th class="col-sm-3 text-center">อีเมล์</th>
                                    <th class="col-sm-4 text-center">ชื่อ - นามสกุล</th>
                                    <th class="col-sm-2 text-center">เบอร์โทรศัพท์</th>
                                    <th class="col-sm-1 text-center">สิทธิ์</th>
                                    <th class="col-sm-2 text-center"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal_Role" style="display: none;">
    <form id="formAdd" class="form-horizontal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">เปลี่ยนสิทธิ์</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="DocId" class="hidden" />
                    <div class="form-group">
                        <label class="col-sm-4 control-label">อีเมล</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">ชื่อผู้ใช้</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="Username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">รหัสผ่าน</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" name="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">ชื่อ</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">เบอร์โทรศัพท์</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="PhoneNo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">ที่อยู่</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="4" style="resize:none" name="Address"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 text-right"><label class="control-label">สิทธิ์การใช้งาน</label></div>
                        <div class="col-sm-8">
                            <select class="form-control selectpicker" name="Role" id="mdRole_slc_Role">
                                <option value="User">User</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าจอ</button>
                    <button type="submit" class="btn btn-warning" id="mdRole_btn_Save">บันทึก</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

@section Script {
    <script>
        $('.navbar-nav > li').show();

        var user = {
            api: '/App/Security',
            init: function () {
                var self = this;
                self.event();
                self.loadAll();
            },
            control: {
                container: $('#container'),
                tbl_ActiveUser: $('#tbl_ActiveUser'),
                tbl_InActiveUser: $('#tbl_InActiveUser'),
                modal_Role: $('#modal_Role'),
                mdRole_slc_Role: $('#mdRole_slc_Role'),
                mdRole_btn_Save: $('#mdRole_btn_Save'),
                formAdd: $('#formAdd'),
            },
            event: function () {
                var self = this;
                self.control.tbl_ActiveUser.on('click', '[name="btn_Detail"]', function (e) {
                    var currow = $(e.currentTarget).closest('tr')
                    self.control.modal_Role.find('[name="DocId"]').val(currow.find('td:eq(0)').text())
                    self.control.modal_Role.modal('show')
                })
                self.control.modal_Role.on('hide.bs.hide.bs.modal', function () {
                    self.control.formAdd[0].reset()
                    self.control.formAdd.find('[name="DocId"]').prop('readonly', false)
                    self.control.formAdd.find('[name="Email"]').prop('readonly', false)
                    self.control.formAdd.find('[name="Username"]').prop('readonly', false)
                    self.control.formAdd.find('[name="Password"]').prop('readonly', false)
                })
                self.control.modal_Role.on('show.bs.show.bs.modal', function () {
                    if (self.control.formAdd.find('[name="DocId"]').val() != '') {
                        self.load()
                    }
                })
                self.control.formAdd.submit((e) => {
                    e.preventDefault()
                    self.changeRole()
                })
                self.control.tbl_ActiveUser.on('click', '[name="btn_InActive"]', function (e) {
                    var currow = $(e.currentTarget).closest('tr')
                    var docId = currow.find('td:eq(0)').text()
                    var status = $(e.currentTarget).val()
                    self.changeStatus(docId, status)
                })
                self.control.tbl_InActiveUser.on('click', '[name="btn_Active"]', function (e) {
                    var currow = $(e.currentTarget).closest('tr')
                    var docId = currow.find('td:eq(0)').text()
                    var status = $(e.currentTarget).val()
                    self.changeStatus(docId, status)
                })
            },
            changeRole: function () {
                var self = this;
                self.control.modal_Role.find('.overlay').show();
                $.ajax({
                    url: user.api + '/ChangeRole',
                    method: 'POST',
                    data: {
                        formData: self.control.formAdd.serializeToJSON(),
                    },
                    success: function (res) {
                        swal(res, '', 'success')
                    },
                    error: function (err) { swal(err, '', 'error') },
                }).done(function () {
                    self.control.modal_Role.find('.overlay').hide();
                    self.control.modal_Role.modal('hide')
                    self.loadAll();
                });
            },
            changeStatus: function (docId, status) {
                var self = this;
                self.control.container.find('.overlay').show();
                $.ajax({
                    url: user.api + '/ApproveUser/ChangeStatus',
                    method: 'POST',
                    data: {
                        docId: docId,
                        status: status
                    },
                    success: function (res) {
                        swal(res, '', 'success')
                    },
                    error: function (err) { swal(err, '', 'error') },
                }).done(function () {
                    self.control.container.find('.overlay').hide();
                    self.loadAll();
                });
            },
            load: function () {
                var self = this
                self.control.modal_Role.find('.overlay').show();
                $.ajax({
                    url: user.api + '/GetUserById',
                    method: 'GET',
                    data: {
                        docId: self.control.formAdd.find('[name="DocId"]').val()
                    },
                    success: function (res) {
                        console.log(res);
                        self.control.formAdd.dejsonify(res)
                        self.control.mdRole_slc_Role.val(res.Role).change()
                    },
                    error: function (err) { swal(err, '', 'error') },
                }).done(function () {
                    self.control.formAdd.find('[name="Email"]').prop('readonly', true)
                    self.control.formAdd.find('[name="Username"]').prop('readonly', true)
                    self.control.formAdd.find('[name="Password"]').prop('readonly', true)
                    self.control.modal_Role.find('.overlay').hide();
                });
            },
            loadAll: function () {
                var self = this;
                self.control.container.find('.overlay').show();
                self.control.container.find('.devTable').remove();
                var tableActive = self.control.tbl_ActiveUser
                tableActive.dataTable().fnClearTable();
                tableActive.dataTable().fnDestroy();
                var tableInActive = self.control.tbl_InActiveUser
                tableInActive.dataTable().fnClearTable();
                tableInActive.dataTable().fnDestroy();
                $.ajax({
                    url: user.api + '/ListAllUser',
                    method: 'GET',
                    success: function (res) {
                        console.log(res);
                        $.each(res, function (i, e) {
                            if (e.Status == 'Active') {
                                tableActive.append(`<tr>
                                                        <td>${e.DocId}</td>
                                                        <td>${e.Name}</td>
                                                        <td class="text-center">${e.PhoneNo}</td>
                                                        <td class="text-center">${e.Role}</td>
                                                        <td class="text-center">
                                                            <button type="button" class="btn btn-sm btn-primary" name="btn_Detail">แก้ไขสิทธิ์</button>
                                                            <button type="button" class="btn btn-sm btn-warning" name="btn_InActive" value="InActive">ยกเลิก</button>
                                                        </td>
                                                      </tr>`);
                            } else if (e.Status == 'InActive') {
                                tableInActive.append(`<tr>
                                                        <td>${e.DocId}</td>
                                                        <td>${e.Name}</td>
                                                        <td class="text-center">${e.PhoneNo}</td>
                                                        <td class="text-center">${e.Role}</td>
                                                        <td class="text-center"><button type="button" class="btn btn-sm btn-warning" name="btn_Active" value="Active">อนุมัติ</button></td>
                                                      </tr>`);
                            }
                        });
                        tableActive.dataTable({
                            "order": [[0, "asc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                                "emptyTable": "ไม่มีข้อมูล",
                                "search": "ค้นหา:",
                                "lengthMenu": "แสดง _MENU_ รายการ",
                                "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                                "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                                "paginate": {
                                    "next": "ถัดไป",
                                    "previous": "ย้อนกลับ"
                                },
                            }
                        });
                        tableInActive.dataTable({
                            "order": [[0, "asc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                                "emptyTable": "ไม่มีข้อมูล",
                                "search": "ค้นหา:",
                                "lengthMenu": "แสดง _MENU_ รายการ",
                                "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                                "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                                "paginate": {
                                    "next": "ถัดไป",
                                    "previous": "ย้อนกลับ"
                                },
                            }
                        });
                    },
                    error: function () { },
                }).done(function () {
                    self.control.container.find('.overlay').hide();
                });
            },
        }

        $(function () {
            user.init();
        });
    </script>
}