﻿<li><a href="~/App/ChickenData" tabindex="1"><i class="fa fa-home text-warning"></i> <span>หน้าหลัก</span></a></li>
<li><a href="~/App/ChickenData/RemoveChickens" tabindex="1"><i class="fa fa-minus-square text-warning"></i> <span>นำไก่ออก</span></a></li>