﻿<li><a href="~/App/Index" tabindex="1"><i class="fa fa-home text-warning"></i> <span>หน้าหลัก</span></a></li>
<li><a href="~/App/ChickenData" tabindex="1"><i class="fa fa-info-circle text-warning"></i> <span>ข้อมูลไก่</span></a></li>
<li><a href="~/App/Mating" tabindex="1"><i class="fa fa-venus-mars text-warning"></i> <span>การผสมพันธุ์</span></a></li>
<li><a href="~/App/Vaccination" tabindex="1"><i class="fa fa-medkit text-warning"></i> <span>การให้วัคซีน</span></a></li>
<li><a href="~/App/Fighting" tabindex="1"><i class="fa fa-trophy text-warning"></i> <span>การชนไก่</span></a></li>
<li><a href="~/App/Reports" tabindex="1"><i class="fa fa-file-text text-warning"></i> <span>ออกรายงาน</span></a></li>
<li><a href="~/App/Security" tabindex="1"><i class="fa fa-cogs text-warning"></i> <span>คุณสมบัติ</span></a></li>