﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "รายงานการผสมพันธุ์";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Reports.cshtml";
}

<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @@media (min-width: 768px) {
        .flex-row {
            display: flex;
            flex-wrap: wrap;
        }
    }

    [class*='col-'] {
        margin-bottom: 10px;
    }

        [class*='col-'] .box {
            height: 100%;
            min-height: 150px;
        }

    /*.add-project .box {
            user-select: none;
            cursor: pointer;
            display: table;
        }

            .add-project .box .box-body {
                display: table-cell;
                width: 100%;
                height: 100%;
                padding: 10px;
                vertical-align: middle;
            }*/

    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }

    [hidden] {
        display: none !important;
    }
</style>

<section class="content" style="min-height: 0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>รายงานการผสมพันธุ์</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-bordered table-hover tbl_Chick" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="hidden">docId</th>
                                        <th class="col-sm-3 text-center">รหัส</th>
                                        <th class="col-sm-5 text-center">ชื่อ</th>
                                        <th class="col-sm-2 text-center">เพศ</th>
                                        <th class="col-sm-2 text-center">จำนวนลูก</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    <div class="row forGraph">
                        <div class="col-sm-3">
                            <div id="plot1" style="height: 200px;"></div>
                        </div>
                        <div class="col-sm-3">
                            <div id="plot2" style="height: 200px;"></div>
                        </div>
                        <div class="col-sm-3">
                            <div id="plot3" style="height: 200px;"></div>
                        </div>
                        <div class="col-sm-3">
                            <div id="plot4" style="height: 200px;"></div>
                        </div>
                    </div>
                    <div class="row forGraph">
                        <div class="col-sm-6">
                            <div id="plot5" style="height: 400px;"></div>
                        </div>
                        <div class="col-sm-6">
                            <div id="plot6" style="height: 400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" style="display:none;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</section>

@section Script {
    <script>
        $('.navbar-nav > li').show();

        var reports = {
            api: '/App/Reports/ByMating',
            init: function () {
                var self = this;
                self.event();
                self.loadAll();
            },
            control: {
                container: $('#container'),
                tbl_Chick: $('.tbl_Chick'),
            },
            event: function () {
                var self = this;
                self.control.tbl_Chick.on('click', 'tbody tr', function () {
                    var currow = $(this).closest('tr');
                    var docId = currow.find('td:eq(0)').text()
                    var sex = currow.find('td:eq(3)').text()
                    self.getDataToGraph(docId, sex)
                })
            },
            getDataToGraph: function (docId, sex) {
                var self = this
                self.control.container.find('.overlay').show()
                $.ajax({
                    url: self.api + '/GetListChickById',
                    method: 'GET',
                    data: {
                        docId: docId,
                        sex: sex
                    },
                    success: function (res) {
                        console.log(res);
                        var listCode = []
                        var listName = []
                        var listWinRate = []
                        var listWin = []
                        var listReward = []
                        $.each(res.Chick, (i, e) => {
                            listCode.push(e.Code)
                            listName.push(e.Name)
                            listWinRate.push(e.WinRate)
                            listWin.push(e.Win)
                            listReward.push(e.Reward)
                        })
                        var data1 = [
                            {
                                type: "indicator",
                                mode: "number",
                                value: res.Summary.Sum,
                                domain: { row: 0, column: 1 },
                                number: { prefix: "฿" },
                            }
                        ]
                        var layout1 = {
                            margin: { t: 25, b: 25, l: 25, r: 25 },
                            paper_bgcolor: "lightgray",
                            template: {
                                data: {
                                    indicator: [
                                        {
                                            title: { text: "เงินรางวัลรวมของลูก" },
                                            mode: "number"
                                        }
                                    ]
                                }
                            }
                        }
                        var config1 = { responsive: true }
                        Plotly.newPlot('plot1', data1, layout1, config1)

                        // plot2
                        var data2 = [
                            {
                                type: "indicator",
                                mode: "number",
                                value: res.Summary.Win,
                                domain: { row: 0, column: 1 }
                            }
                        ]
                        var layout2 = {
                            margin: { t: 25, b: 25, l: 25, r: 25 },
                            paper_bgcolor: "lightgray",
                            template: {
                                data: {
                                    indicator: [
                                        {
                                            title: { text: "ชนะรวม (ครั้ง)" },
                                            mode: "number"
                                        }
                                    ]
                                }
                            }
                        }
                        var config2 = { responsive: true }
                        Plotly.newPlot('plot2', data2, layout2, config2)

                        // plot3
                        var data3 = [
                            {
                                type: "indicator",
                                mode: "number",
                                value: res.Summary.Lose,
                                domain: { row: 0, column: 1 }
                            }
                        ]
                        var layout3 = {
                            margin: { t: 25, b: 25, l: 25, r: 25 },
                            paper_bgcolor: "lightgray",
                            template: {
                                data: {
                                    indicator: [
                                        {
                                            title: { text: "แพ้รวม (ครั้ง)" },
                                            mode: "number"
                                        }
                                    ]
                                }
                            }
                        }
                        var config3 = { responsive: true }
                        Plotly.newPlot('plot3', data3, layout3, config3)

                        // plot4
                        var data4 = [
                            {
                                type: "indicator",
                                mode: "number",
                                value: res.Summary.Draw,
                                domain: { row: 0, column: 1 }
                            }
                        ]
                        var layout4 = {
                            margin: { t: 25, b: 25, l: 25, r: 25 },
                            paper_bgcolor: "lightgray",
                            template: {
                                data: {
                                    indicator: [
                                        {
                                            title: { text: "เสมอรวม (ครั้ง)" },
                                            mode: "number"
                                        }
                                    ]
                                }
                            }
                        }
                        var config4 = { responsive: true }
                        Plotly.newPlot('plot4', data4, layout4, config4)

                        // plot5
                        var values5 = [
                            listCode,
                            listName,
                            listReward,
                            listWinRate
                        ]

                        var data5 = [{
                            type: 'table',
                            header: {
                                values: [["<b>รหัส</b>"], ["<b>ชื่อ</b>"], ["<b>รางวัลรวม</b>"], ["<b>อัตราชนะ (%)</b>"]],
                                align: ["center"],
                                line: { width: 1, color: '#506784' },
                                fill: { color: '#119DFF' },
                            },
                            cells: {
                                values: values5,
                                align: ["left", "left", "center"],
                                line: { color: "#506784", width: 1 }
                            }
                        }]

                        var layout5 = {
                            title: 'ข้อมูลลูกทั้งหมด',
                            paper_bgcolor: "lightgray"
                        }

                        var config5 = { responsive: true }
                        Plotly.newPlot('plot5', data5, layout5, config5)

                        // plot6
                        var data6 = [
                            {
                                x: listName,
                                y: listWin,
                                type: 'bar'
                            }
                        ];

                        var layout6 = {
                            title: 'จำนวนครั้งที่แข่งชนะของลูกแต่ละตัว',
                            paper_bgcolor: "lightgray"
                        }

                        var config6 = { responsive: true }
                        Plotly.newPlot('plot6', data6, layout6, config6)
                    },
                }).done(function () {
                    self.control.container.find('.overlay').hide()
                })
            },
            loadAll: function () {
                var self = this;
                self.control.container.find('.overlay').show()
                var table = self.control.tbl_Chick;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: self.api + '/ListChickForReport',
                    method: 'GET',
                    success: function (res) {
                        $.each(res, function (i, e) {
                            table.append(`<tr>
                                                <td class="hidden">${e.DocId}</td>
                                                <td>${e.Code}</td>
                                                <td>${e.Name}</td>
                                                <td class="text-center">${e.Sex}</td>
                                                <td class="text-center">${e.ChildCount}</td>
                                              </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[1, "asc"]], "dom": '<"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            },
                        }
                    });
                    self.control.container.find('.overlay').hide();
                });
            },
        }

        $(function () {
            reports.init();
        });
    </script>
}