﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "รายงานคัดเกรดจากเงินรางวัลสูงสุดต่อครั้ง";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Reports.cshtml";
}

<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @@media (min-width: 768px) {
        .flex-row {
            display: flex;
            flex-wrap: wrap;
        }
    }

    [class*='col-'] {
        margin-bottom: 10px;
    }

        [class*='col-'] .box {
            height: 100%;
            min-height: 150px;
        }

    /*.add-project .box {
            user-select: none;
            cursor: pointer;
            display: table;
        }

            .add-project .box .box-body {
                display: table-cell;
                width: 100%;
                height: 100%;
                padding: 10px;
                vertical-align: middle;
            }*/

    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }

    [hidden] {
        display: none !important;
    }
</style>

<section class="content" style="min-height: 0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>รายงานคัดเกรดจากเงินรางวัลสูงสุดต่อครั้ง</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <form class="form-horizontal" id="formValue">
                                <h3>สูตรคำนวณเกรด</h3>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">เงินรางวัลสูงสุดมากกว่า</label>
                                    <div class="col-sm-4"><input type="number" class="form-control lVal" name="RewardGradeA" readonly/></div>
                                    <label class="col-sm-4 control-label" style="text-align:left">บาท&ensp;&ensp;=&ensp;&ensp;A</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">เงินรางวัลสูงสุดมากกว่า</label>
                                    <div class="col-sm-4"><input type="number" class="form-control lVal" name="RewardGradeB" readonly/></div>
                                    <label class="col-sm-4 control-label" style="text-align:left">บาท&ensp;&ensp;=&ensp;&ensp;B</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">เงินรางวัลสูงสุดมากกว่า</label>
                                    <div class="col-sm-4"><input type="number" class="form-control lVal" name="RewardGradeC" readonly/></div>
                                    <label class="col-sm-4 control-label" style="text-align:left">บาท&ensp;&ensp;=&ensp;&ensp;C</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">เงินรางวัลสูงสุดมากกว่า</label>
                                    <div class="col-sm-4"><input type="number" class="form-control lVal" name="RewardGradeD" readonly/></div>
                                    <label class="col-sm-4 control-label" style="text-align:left">บาท&ensp;&ensp;=&ensp;&ensp;D</label>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <table class="table table-bordered table-hover tbl_Chick" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="hidden">docId</th>
                                        <th class="col-sm-4 text-center">รหัสไก่</th>
                                        <th class="col-sm-6 text-center">ชื่อไก่</th>
                                        <th class="col-sm-2 text-center">เกรด</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row forGraph">
                        <div class="col-sm-6">
                            <div id="plot1" style="height: 300px;"></div>
                        </div>
                        <div class="col-sm-6">
                            <div id="plot2" style="height: 300px;"></div>
                        </div>
                    </div>
                    <div class="row forGraph">
                        <div class="col-sm-6">
                            <div id="plot5" style="height: 400px;"></div>
                        </div>
                        <div class="col-sm-6">
                            <div id="plot6" style="height: 400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" style="display:none;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</section>

@section Script {
    <script>
        $('.navbar-nav > li').show();

        var reports = {
            api: '/App/Reports',
            init: function () {
                var self = this;
                self.event();
                self.loadLastValue();
            },
            control: {
                container: $('#container'),
                tbl_Chick: $('.tbl_Chick'),
                formValue: $('#formValue'),
            },
            event: function () {
                var self = this;
                self.control.tbl_Chick.on('click', 'tbody tr', function () {
                    var currow = $(this).closest('tr');
                    var docId = currow.find('td:eq(0)').text()
                    self.getDataToGraph(docId)
                })
            },
            getDataToGraph: function (docId) {
                var self = this
                self.control.container.find('.overlay').show()
                $.ajax({
                    url: '/App/ChickenData/GetFullDetail',
                    method: 'GET',
                    data: {
                        docId: docId
                    },
                    success: function (res) {
                        console.log(res)
                        var topReward = 0
                        var listFighting = []
                        var sumReward = 0
                        $.each(res.Fighting, (i, f) => {
                            if (f.Bet > topReward)
                                topReward = f.Bet
                            sumReward += f.Bet
                        })
                        var data1 = [
                            {
                                domain: { row: 0, column: 1 },
                                value: topReward,
                                title: { text: "รางวัลสูงสุดต่อครั้ง" },
                                type: "indicator",
                                mode: "gauge+number",
                                gauge: { axis: { range: [null, self.control.formValue.find('[name="RewardGradeA"]').val()] } }
                            }
                        ];
                        var layout1 = {
                            margin: { t: 60, b: 25, l: 25, r: 25 },
                            paper_bgcolor: "lightgray"
                        }
                        var config1 = { responsive: true }
                        Plotly.newPlot('plot1', data1, layout1, config1)

                        // plot2
                        var data2 = [
                            {
                                type: "indicator",
                                mode: "number",
                                value: sumReward,
                                domain: { row: 0, column: 1 }
                            }
                        ]
                        var layout2 = {
                            margin: { t: 10, b: 10, l: 10, r: 10 },
                            paper_bgcolor: "lightgray",
                            template: {
                                data: {
                                    indicator: [
                                        {
                                            title: { text: "รางวัลรวมทั้งหมด" },
                                            mode: "number"
                                        }
                                    ]
                                }
                            }
                        }
                        var config2 = { responsive: true }
                        Plotly.newPlot('plot2', data2, layout2, config2)

                        //// plot3
                        //var data3 = [
                        //    {
                        //        type: "indicator",
                        //        mode: "number",
                        //        value: res.Lose,
                        //        domain: { row: 0, column: 1 }
                        //    }
                        //]
                        //var layout3 = {
                        //    margin: { t: 25, b: 25, l: 25, r: 25 },
                        //    paper_bgcolor: "lightgray",
                        //    template: {
                        //        data: {
                        //            indicator: [
                        //                {
                        //                    title: { text: "แพ้ (ครั้ง)" },
                        //                    mode: "number"
                        //                }
                        //            ]
                        //        }
                        //    }
                        //}
                        //var config3 = { responsive: true }
                        //Plotly.newPlot('plot3', data3, layout3, config3)

                        //// plot4
                        //var data4 = [
                        //    {
                        //        type: "indicator",
                        //        mode: "number",
                        //        value: res.Draw,
                        //        domain: { row: 0, column: 1 }
                        //    }
                        //]
                        //var layout4 = {
                        //    margin: { t: 25, b: 25, l: 25, r: 25 },
                        //    paper_bgcolor: "lightgray",
                        //    template: {
                        //        data: {
                        //            indicator: [
                        //                {
                        //                    title: { text: "เสมอ (ครั้ง)" },
                        //                    mode: "number"
                        //                }
                        //            ]
                        //        }
                        //    }
                        //}
                        //var config4 = { responsive: true }
                        //Plotly.newPlot('plot4', data4, layout4, config4)
                    },
                }).done(function () {
                    self.getDataToGraph2(docId)
                })
            },
            getDataToGraph2: function (docId) {
                var self = this
                $.ajax({
                    url: '/App/Fighting/GetByCockId',
                    method: 'GET',
                    data: {
                        cockId: docId
                    },
                    success: function (res) {
                        console.log(res)
                        var xData = []
                        var yData = []
                        var oppSpecies = ['ไก่ไทย(ไก่เชิง)', 'พม่า', 'ง่อน', 'ป่าก๋อย', 'พม่าบราซิล', 'พม่าญี่ปุ่น']
                        var type1 = 0, type2 = 0, type3 = 0, type4 = 0, type5 = 0, type6 = 0
                        $.each(res, (i, e) => {
                            xData.push(e.Location)
                            yData.push(e.Bet)
                            switch (e.OpponentSpecies) {
                                case ('ไก่ไทย(ไก่เชิง)'):
                                    type1 += 1
                                    break
                                case ('พม่า'):
                                    type2 += 1
                                    break
                                case ('ง่อน'):
                                    type3 += 1
                                    break
                                case ('ป่าก๋อย'):
                                    type4 += 1
                                    break
                                case ('พม่าบราซิล'):
                                    type5 += 1
                                    break
                                case ('พม่าญี่ปุ่น'):
                                    type6 += 1
                                    break
                            }
                        })
                        var oppVal = [type1, type2, type3, type4, type5, type6]
                        console.log(oppVal);
                        console.log(oppSpecies);
                        var data5 = [
                            {
                                x: xData,
                                y: yData,
                                type: 'bar'
                            }
                        ];

                        var layout5 = {
                            title: 'เงินรางวัลในแต่ละครั้งที่ชนะ',
                            paper_bgcolor: "lightgray"
                        }

                        var config5 = { responsive: true }
                        Plotly.newPlot('plot5', data5, layout5, config5)

                        // plot6
                        var data6 = [{
                            values: oppVal,
                            labels: oppSpecies,
                            type: 'pie'
                        }];

                        var layout6 = {
                            title: 'ประเภทคู่แข่งที่ชนะ',
                            paper_bgcolor: "lightgray",
                        };

                        var config6 = { responsive: true }
                        Plotly.newPlot('plot6', data6, layout6, config6)
                    },
                }).done(function () {
                    self.control.container.find('.overlay').hide()
                })
            },
            loadAll: function () {
                var self = this;
                self.control.container.find('.overlay').show()
                var table = self.control.tbl_Chick;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: '/App/ChickenData/GetCockFullDetail',
                    method: 'GET',
                    success: function (res) {
                        $.each(res, function (i, e) {
                            var topReward = 0
                            $.each(e.Fighting, (i, f) => {
                                if (f.Bet > topReward)
                                    topReward = f.Bet
                            })
                            var grade = ''
                            if (topReward >= self.control.formValue.find('[name="RewardGradeA"]').val()) {
                                grade = 'A'
                            } else if (topReward >= self.control.formValue.find('[name="RewardGradeB"]').val()) {
                                grade = 'B'
                            } else if (topReward >= self.control.formValue.find('[name="RewardGradeC"]').val()){
                                grade = 'C'
                            } else if (topReward >= self.control.formValue.find('[name="RewardGradeD"]').val()) {
                                grade = 'D'
                            } else {
                                grade = '-'
                            }
                            //console.log('Name : ' + e.Name + ' / Win : ' + e.Win + ' / Lose : ' + e.Lose + ' / Result : ' + (e.Win + e.Lose))
                            table.append(`<tr>
                                                        <td class="hidden">${e.Chick.DocId}</td>
                                                        <td>${e.Chick.Code}</td>
                                                        <td>${e.Chick.Name}</td>
                                                        <td class="text-center">${grade}</td>
                                                      </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[3, "asc"]], "dom": '<"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            },
                        }
                    });
                    self.control.container.find('.overlay').hide();
                });
            },
            loadLastValue: function () {
                var self = this;
                $.ajax({
                    url: '/App/Api/LogLastValue/List',
                    method: 'GET',
                    success: function (res) {
                        self.control.formValue.dejsonify(res);
                        if ($('[name="RewardGradeA"]').val() == '') 
                            $('[name="RewardGradeA"]').val(500000);
                        if ($('[name="RewardGradeB"]').val() == '')
                            $('[name="RewardGradeB"]').val(300000);
                        if ($('[name="RewardGradeC"]').val() == '')
                            $('[name="RewardGradeC"]').val(100000);
                        if ($('[name="RewardGradeD"]').val() == '')
                            $('[name="RewardGradeD"]').val(0);
                    }
                }).done(function () {
                    self.loadAll()
                })
            },
            setLastValue: function (key, value) {
                var lastValue = { logKey: key, logValue: value }
                var jsLastValue = JSON.stringify(lastValue);
                $.ajax({
                    url: '/App/Api/LogLastValue/Save',
                    method: 'POST',
                    data: {
                        jsLastValue: jsLastValue
                    }
                })
            },
        }

        $(function () {
            reports.init();
        });
    </script>
}