﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "ข้อมูลไก่";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Reports.cshtml";
}

<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @@media (min-width: 768px) {
        .flex-row {
            display: flex;
            flex-wrap: wrap;
        }
    }

    [class*='col-'] {
        margin-bottom: 10px;
    }

        [class*='col-'] .box {
            height: 100%;
            min-height: 150px;
        }

    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }

    [hidden] {
        display: none !important;
    }

    .uploader {
        display: block;
        clear: both;
        margin: 0 auto;
        width: 100%;
        /*max-width: 600px;*/
    }

        .uploader label {
            float: left;
            clear: both;
            width: 100%;
            padding: 2rem 1.5rem;
            text-align: center;
            background: #fff;
            border-radius: 7px;
            border: 3px solid #eee;
            transition: all 0.2s ease;
            user-select: none;
        }

            .uploader label:hover {
                border-color: #454cad;
            }

            .uploader label.hover {
                border: 3px solid #454cad;
                box-shadow: inset 0 0 0 6px #eee;
            }

                .uploader label.hover .start i.fa {
                    transform: scale(0.8);
                    opacity: 0.3;
                }

        .uploader .start {
            float: left;
            clear: both;
            width: 100%;
        }

            .uploader .start.hidden {
                display: none;
            }

            .uploader .start i.fa {
                font-size: 50px;
                margin-bottom: 1rem;
                transition: all 0.2s ease-in-out;
            }

        .uploader .response {
            float: left;
            clear: both;
            width: 100%;
        }

            .uploader .response .hidden {
                display: none;
            }

            .uploader .response .messages {
                margin-bottom: 0.5rem;
            }

        .uploader [name="file-image"] {
            display: inline;
            margin: 0 auto 0.5rem auto;
            width: auto;
            height: auto;
            max-width: 180px;
        }

            .uploader [name="file-image"].hidden {
                display: none;
            }


        .uploader progress, .uploader .progress {
            display: inline;
            clear: both;
            margin: 0 auto;
            width: 100%;
            max-width: 180px;
            height: 8px;
            border: 0;
            border-radius: 4px;
            background-color: #eee;
            overflow: hidden;
        }

            .uploader .progress[value]::-webkit-progress-bar {
                border-radius: 4px;
                background-color: #eee;
            }

            .uploader .progress[value]::-webkit-progress-value {
                background: linear-gradient(to right, #393f90 0%, #454cad 50%);
                border-radius: 4px;
            }

            .uploader .progress[value]::-moz-progress-bar {
                background: linear-gradient(to right, #393f90 0%, #454cad 50%);
                border-radius: 4px;
            }

        .uploader input[type="file"] {
            display: none;
        }

        .uploader div {
            margin: 0 0 0.5rem 0;
            color: #5f6982;
        }
</style>

<section class="content" style="min-height: 0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>ข้อมูลไก่</h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <table class="table table-bordered tbl_Chick" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="col-sm-2 text-center">RunNo.</th>
                                    <th class="col-sm-2 text-center">รหัส</th>
                                    <th class="col-sm-2 text-center">ชื่อไก่</th>
                                    <th class="col-sm-ๅ text-center">ประเภท</th>
                                    <th class="col-sm-ๅ text-center">วันที่ซื้อ</th>
                                    <th class="col-sm-2 text-center">ฟาร์มที่ซื้อ</th>
                                    <th class="col-sm-ๅ text-center">แผ่นสี</th>
                                    <th class="col-sm-1 text-center">เพศ</th>
                                    <th class="col-sm-1 text-center">น้ำหนัก(กก)</th>
                                    <th class="col-sm-1 text-center">ส่วนสูง(ซม)</th>
                                    <th class="col-sm-1 text-center">วันเกิด</th>
                                    <th class="col-sm-1 text-center">อายุ</th>
                                    <th class="col-sm-1 text-center">พ่อพันธุ์</th>
                                    <th class="col-sm-1 text-center">แม่พันธุ์</th>
                                    <th class="col-sm-1 text-center">สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="overlay" style="display:none;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</section>

<script src="~/js/uploadImageOnly.js"></script>
@section Script {
    <script>
        $('.navbar-nav > li').show();

        var chick = {
            api: '/App/ChickenData',
            init: function () {
                var self = this;
                self.event();
                self.loadAll();
            },
            control: {
                container: $('#container'),
                tbl_Chick: $('.tbl_Chick'),
            },
            event: function () {
                var self = this;
            },
            loadAll: function () {
                var self = this;
                self.control.container.find('.overlay').show()
                var table = self.control.tbl_Chick;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: chick.api + '/List',
                    method: 'GET',
                    success: function (res) {
                        $.each(res, function (i, e) {
                            var start = new Date(e.BirthDay),
                                end = new Date(),
                                diff = new Date(end - start),
                                days = $.number(diff / 1000 / 60 / 60 / 24, 0),
                                month = $.number(days.replace(/,/g, '') / 31, 0),
                                years = month / 12;
                            month = month - (parseFloat(years.toString().split('.')[0]) * 12)
                            //console.log(`ปี : ${years} / เดือน : ${month} / วัน : ${days}`)
                            table.append(`<tr>
                                            <td>${e.RunningNo}</td>
                                            <td>${e.Code}</td>
                                            <td>${e.Name}</td>
                                            <td>${e.CreateType}</td>
                                            <td>${e.BuyDate ? e.BuyDate : '-'}</td>
                                            <td>${e.BuyFrom ? e.BuyFrom : '-'}</td>
                                            <td>${e.ColorPlate}</td>
                                            <td class="text-center">${e.Sex}</td>
                                            <td class="text-center">${e.Weight}</td>
                                            <td class="text-center">${e.Height}</td>
                                            <td class="text-center">${e.BirthDay}</td>
                                            <td class="text-center">${years.toString().split('.')[0]} ปี ${$.number(month)} เดือน</td>
                                            <td class="text-center">${e.DadName ? e.DadName : '-'}</td>
                                            <td class="text-center">${e.MomName ? e.MomName : '-'}</td>
                                            <td class="text-center">${e.Status_Th}</td>
                                          </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[0, "asc"]], "dom": '<"pull-left"B><"pull-right"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "lengthMenu": "แสดง _MENU_ รายการ",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            }
                        },
                        "scrollX": true,
                        "buttons": [
                            { extend: 'print', text: 'พิมพ์ข้อมูล' }
                        ]
                    });
                    self.control.container.find('.overlay').hide();
                });
            },
        }

        $(function () {
            chick.init();
        });
    </script>
}