﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "รายงานการผสมพันธุ์";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Reports.cshtml";
}

<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @@media (min-width: 768px) {
        .flex-row {
            display: flex;
            flex-wrap: wrap;
        }
    }

    [class*='col-'] {
        margin-bottom: 10px;
    }

        [class*='col-'] .box {
            height: 100%;
            min-height: 150px;
        }

    /*.add-project .box {
            user-select: none;
            cursor: pointer;
            display: table;
        }

            .add-project .box .box-body {
                display: table-cell;
                width: 100%;
                height: 100%;
                padding: 10px;
                vertical-align: middle;
            }*/

    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }

    [hidden] {
        display: none !important;
    }
</style>

<section class="content" style="min-height: 0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>รายงานการผสมพันธุ์</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover tbl_Chick" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2 text-center">รหัส</th>
                                        <th class="col-sm-3 text-center">ชื่อ</th>
                                        <th class="col-sm-2 text-center">เพศ</th>
                                        <th class="col-sm-2 text-center">จำนวนลูก</th>
                                        <th class="col-sm-3 text-center">เงินรางวัลรวมของลูก</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="overlay" style="display:none;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</section>

@section Script {
    <script>
        $('.navbar-nav > li').show();

        var reports = {
            api: '/App/Reports/ByMating',
            init: function () {
                var self = this;
                self.event();
                self.loadAll();
            },
            control: {
                container: $('#container'),
                tbl_Chick: $('.tbl_Chick'),
            },
            event: function () {
                var self = this;
            },
            loadAll: function () {
                var self = this;
                self.control.container.find('.overlay').show()
                var table = self.control.tbl_Chick;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: self.api + '/ListChickForReport',
                    method: 'GET',
                    success: function (res) {
                        console.log(res);
                        $.each(res, function (i, e) {
                            table.append(`<tr>
                                                <td>${e.RunningNo}</td>
                                                <td>${e.Name}</td>
                                                <td class="text-center">${e.Sex}</td>
                                                <td class="text-center">${e.ChildCount}</td>
                                                <td class="text-center">${$.number(e.SumReward, 0)}</td>
                                              </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[0, "asc"]], "dom": '<"pull-left"B><"pull-right"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            }
                        },
                        "buttons": [
                            { extend: 'print', text: 'พิมพ์ข้อมูล', orientation: 'landscape' }
                        ]
                    });
                    self.control.container.find('.overlay').hide();
                });
            },
        }

        $(function () {
            reports.init();
        });
    </script>
}