﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "รายงานคัดเกรดจากเงินรางวัลสูงสุดต่อครั้ง";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Reports.cshtml";
}

<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @@media (min-width: 768px) {
        .flex-row {
            display: flex;
            flex-wrap: wrap;
        }
    }

    [class*='col-'] {
        margin-bottom: 10px;
    }

        [class*='col-'] .box {
            height: 100%;
            min-height: 150px;
        }

    /*.add-project .box {
            user-select: none;
            cursor: pointer;
            display: table;
        }

            .add-project .box .box-body {
                display: table-cell;
                width: 100%;
                height: 100%;
                padding: 10px;
                vertical-align: middle;
            }*/

    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }

    [hidden] {
        display: none !important;
    }
</style>

<section class="content" style="min-height: 0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>รายงานคัดเกรดจากเงินรางวัลสูงสุดต่อครั้ง</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <form class="form-horizontal" id="formValue">
                                <h3>สูตรคำนวณเกรด</h3>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">เงินรางวัลสูงสุดมากกว่า</label>
                                    <div class="col-sm-4"><input type="number" class="form-control lVal" name="RewardGradeA" readonly/></div>
                                    <label class="col-sm-4 control-label" style="text-align:left">บาท&ensp;&ensp;=&ensp;&ensp;A</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">เงินรางวัลสูงสุดมากกว่า</label>
                                    <div class="col-sm-4"><input type="number" class="form-control lVal" name="RewardGradeB" readonly/></div>
                                    <label class="col-sm-4 control-label" style="text-align:left">บาท&ensp;&ensp;=&ensp;&ensp;B</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">เงินรางวัลสูงสุดมากกว่า</label>
                                    <div class="col-sm-4"><input type="number" class="form-control lVal" name="RewardGradeC" readonly/></div>
                                    <label class="col-sm-4 control-label" style="text-align:left">บาท&ensp;&ensp;=&ensp;&ensp;C</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">เงินรางวัลสูงสุดมากกว่า</label>
                                    <div class="col-sm-4"><input type="number" class="form-control lVal" name="RewardGradeD" readonly/></div>
                                    <label class="col-sm-4 control-label" style="text-align:left">บาท&ensp;&ensp;=&ensp;&ensp;D</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover tbl_Chick" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2 text-center">RunNo.</th>
                                        <th class="col-sm-4 text-center">ชื่อไก่</th>
                                        <th class="col-sm-2 text-center">เงินรางวัลสูงสุด(บาท)</th>
                                        <th class="col-sm-2 text-center">เงินรางวัลรวม(บาท)</th>
                                        <th class="col-sm-2 text-center">เกรด</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row forGraph">
                        <div class="col-sm-6">
                            <div id="plot1" style="height: 300px;"></div>
                        </div>
                        <div class="col-sm-6">
                            <div id="plot2" style="height: 300px;"></div>
                        </div>
                    </div>
                    <div class="row forGraph">
                        <div class="col-sm-6">
                            <div id="plot5" style="height: 400px;"></div>
                        </div>
                        <div class="col-sm-6">
                            <div id="plot6" style="height: 400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" style="display:none;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</section>

@section Script {
    <script>
        $('.navbar-nav > li').show();

        var reports = {
            api: '/App/Reports',
            init: function () {
                var self = this;
                self.event();
                self.loadLastValue();
            },
            control: {
                container: $('#container'),
                tbl_Chick: $('.tbl_Chick'),
                formValue: $('#formValue'),
            },
            event: function () {
                var self = this;
            },
            loadAll: function () {
                var self = this;
                self.control.container.find('.overlay').show()
                var table = self.control.tbl_Chick;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: '/App/ChickenData/GetCockFullDetail',
                    method: 'GET',
                    success: function (res) {
                        $.each(res, function (i, e) {
                            var topReward = 0
                            $.each(e.Fighting, (i, f) => {
                                if (f.Bet > topReward)
                                    topReward = f.Bet
                            })
                            var grade = ''
                            if (topReward >= self.control.formValue.find('[name="RewardGradeA"]').val()) {
                                grade = 'A'
                            } else if (topReward >= self.control.formValue.find('[name="RewardGradeB"]').val()) {
                                grade = 'B'
                            } else if (topReward >= self.control.formValue.find('[name="RewardGradeC"]').val()){
                                grade = 'C'
                            } else if (topReward >= self.control.formValue.find('[name="RewardGradeD"]').val()) {
                                grade = 'D'
                            } else {
                                grade = '-'
                            }
                            //console.log('Name : ' + e.Name + ' / Win : ' + e.Win + ' / Lose : ' + e.Lose + ' / Result : ' + (e.Win + e.Lose))
                            table.append(`<tr>
                                                        <td>${e.Chick.RunningNo}</td>
                                                        <td>${e.Chick.Name}</td>
                                                        <td>${e.Chick.Reward}</td>
                                                        <td>${topReward}</td>
                                                        <td class="text-center">${grade}</td>
                                                      </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[0, "asc"]], "dom": '<"pull-left"B><"pull-right"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            }
                        },
                        "buttons": [
                            { extend: 'print', text: 'พิมพ์ข้อมูล', orientation: 'landscape' }
                        ]
                    });
                    self.control.container.find('.overlay').hide();
                });
            },
            loadLastValue: function () {
                var self = this;
                $.ajax({
                    url: '/App/Api/LogLastValue/List',
                    method: 'GET',
                    success: function (res) {
                        self.control.formValue.dejsonify(res);
                        if ($('[name="RewardGradeA"]').val() == '')
                            $('[name="RewardGradeA"]').val(500000);
                        if ($('[name="RewardGradeB"]').val() == '')
                            $('[name="RewardGradeB"]').val(300000);
                        if ($('[name="RewardGradeC"]').val() == '')
                            $('[name="RewardGradeC"]').val(100000);
                        if ($('[name="RewardGradeD"]').val() == '')
                            $('[name="RewardGradeD"]').val(0);
                    }
                }).done(function () {
                    self.loadAll()
                })
            },
        }

        $(function () {
            reports.init();
        });
    </script>
}