﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "รวมรายงาน";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Reports.cshtml";
}

<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @@media (min-width: 768px) {
        .flex-row {
            display: flex;
            flex-wrap: wrap;
        }
    }

    [class*='col-'] {
        margin-bottom: 10px;
    }

        [class*='col-'] .box {
            height: 100%;
            min-height: 150px;
        }

    /*.add-project .box {
            user-select: none;
            cursor: pointer;
            display: table;
        }

            .add-project .box .box-body {
                display: table-cell;
                width: 100%;
                height: 100%;
                padding: 10px;
                vertical-align: middle;
            }*/

    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }

    [hidden] {
        display: none !important;
    }
</style>

<section class="content" style="min-height: 0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body">
                    <h3>Dashboard</h3>
                    <div class="col-sm-12" style="padding:0px">
                        <div class="col-sm-6">
                            <table class="table table-bordered table-hover tbl_Reports" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="hidden">ประเภท</th>
                                        <th class="col-sm-2 text-center">ลำดับ</th>
                                        <th class="col-sm-10 text-center">ประเภทรายงาน</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="hidden">ByFighting</td>
                                        <td class="text-center">001</td>
                                        <td>รายงานคัดเกรดจากการแข่งขัน</td>
                                    </tr>
                                    <tr>
                                        <td class="hidden">ByReward</td>
                                        <td class="text-center">002</td>
                                        <td>รายงานคัดเกรดจากเงินรางวัลสูงสุดต่อครั้ง</td>
                                    </tr>
                                    <tr>
                                        <td class="hidden">ByMating</td>
                                        <td class="text-center">003</td>
                                        <td>รายงานการผสมพันธุ์</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3>พิมพ์รายงาน</h3>
                    <div class="col-sm-12" style="padding:0px">
                        <div class="col-sm-6">
                            <table class="table table-bordered table-hover tbl_Reports" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="hidden">ประเภท</th>
                                        <th class="col-sm-2 text-center">ลำดับ</th>
                                        <th class="col-sm-10 text-center">ประเภทรายงาน</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="hidden">PrintByFighting</td>
                                        <td class="text-center">001</td>
                                        <td>รายงานคัดเกรดจากการแข่งขัน</td>
                                    </tr>
                                    <tr>
                                        <td class="hidden">PrintByReward</td>
                                        <td class="text-center">002</td>
                                        <td>รายงานคัดเกรดจากเงินรางวัลสูงสุดต่อครั้ง</td>
                                    </tr>
                                    <tr>
                                        <td class="hidden">PrintByMating</td>
                                        <td class="text-center">003</td>
                                        <td>รายงานการผสมพันธุ์</td>
                                    </tr>
                                    <tr>
                                        <td class="hidden">CheckByVaccine</td>
                                        <td class="text-center">004</td>
                                        <td>รายงานตรวจสอบไก่ที่ต้องให้วัคซีน</td>
                                    </tr>
                                    <tr>
                                        <td class="hidden">PrintAllChickData</td>
                                        <td class="text-center">005</td>
                                        <td>รายงานข้อมูลไก่ทั้งหมด</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" style="display:none;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</section>

@section Script {
    <script>
        $('.tbl_Reports').on('click', 'tbody tr', function () {
            var currow = $(this).closest('tr');
            var id = currow.find('td:eq(0)').text()
            window.open(`/App/Reports/${id}`, "_self");
        })
    </script>
}