﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "รายงานตรวจสอบไก่ที่ต้องให้วัคซีน";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Reports.cshtml";
}

<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @@media (min-width: 768px) {
        .flex-row {
            display: flex;
            flex-wrap: wrap;
        }
    }

    [class*='col-'] {
        margin-bottom: 10px;
    }

        [class*='col-'] .box {
            height: 100%;
            min-height: 150px;
        }

    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }

    [hidden] {
        display: none !important;
    }
</style>

<section class="content" style="min-height: 0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>รายงานตรวจสอบไก่ที่ต้องให้วัคซีน</h3>
                </div>
                <div class="box-body">
                    <form id="formQuery" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">วันที่ฉีดวัคซีน</label>
                            <div class="col-sm-2"><input type="text" class="form-control" name="VaccinationDate" required /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">วัคซีน</label>
                            <div class="col-sm-4">
                                <input type="text" name="VcDocId" class="hidden" />
                                <input type="text" name="VcName" class="form-control" placeholder="-- เลือกวัคซีน --" data-toggle="modal" data-target="#modal_Vaccine" style="cursor:pointer" readonly required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-2 col-sm-1">
                                <button type="submit" class="btn btn-warning form-control">ยืนยัน</button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="tbl_ChickByDate" class="table table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2 text-center" data-override="Code">รหัส</th>
                                        <th class="col-sm-6 text-center" data-override="Name">ชื่อ</th>
                                        <th class="col-sm-2 text-center" data-override="LastDate">วันที่ฉีดล่าสุด</th>
                                        <th class="col-sm-2 text-center" data-override="LastDate">วันที่ต้องฉีดรอบถัดไป</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" style="display:none;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal_Vaccine" style="display: none;">
    <form class="form-horizontal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">ข้อมูลวัคซีน</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <table id="tbl_VcData" class="table table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="hidden">DocId</th>
                                    <th class="col-sm-2 text-center">รหัส</th>
                                    <th class="col-sm-4 text-center">ชื่อ</th>
                                    <th class="col-sm-6 text-center">รายละเอียด</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/js/CalculateDatetime.js"></script>
@section Script {
    <script>
        $('.navbar-nav > li').show();

        var reports = {
            api: '/App/Reports/CheckByVaccine',
            init: function () {
                var self = this;
                self.control.formQuery.find('[name="VaccinationDate"]').val(moment(new Date()).format('YYYY-MM-DD'))
                self.event();
            },
            control: {
                container: $('#container'),
                tbl_Chick: $('.tbl_Chick'),
                formQuery: $('#formQuery'),
                modal_Vaccine: $('#modal_Vaccine'),
                tbl_VcData: $('#tbl_VcData'),
                tbl_ChickByDate: $('#tbl_ChickByDate'),
            },
            event: function () {
                var self = this;
                self.control.modal_Vaccine.on('show.bs.show.bs.modal', function () {
                    self.loadVaccineData()
                })
                self.control.tbl_VcData.on('click', 'tbody tr', function (e) {
                    var currow = $(e.currentTarget).closest('tr')
                    var id = currow.find('td:eq(0)').text()
                    var name = currow.find('td:eq(2)').text()
                    self.control.formQuery.find('[name="VcDocId"]').val(id)
                    self.control.formQuery.find('[name="VcName"]').val(name)
                    self.control.modal_Vaccine.modal('hide')
                })
                self.control.formQuery.submit((e) => {
                    e.preventDefault()
                    var vcDocId = self.control.formQuery.find('[name="VcDocId"]').val()
                    if (!vcDocId) {
                        alert('กรุณาเลือกวัคซีนก่อน !')
                        return
                    } else {
                        self.loadChickByVac(vcDocId)
                    }
                })
            },
            loadChickByVac: function (vcDocId) {
                var self = this
                self.control.container.find('.overlay').show()
                var table = self.control.tbl_ChickByDate
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: '/App/Vaccination/ListChickLastVac',
                    method: 'GET',
                    data: {
                        vcDocId: vcDocId
                    },
                    success: function (res) {
                        console.log(res)
                        $.each(res.ChickLastVac, (i, e) => {
                            console.log(e.ChickData.Name);
                            var vacFreq = (parseFloat(res.VacData.FrequencyMonth * 30)) + parseFloat(res.VacData.FrequencyDay)
                            var vacAge = (parseFloat(res.VacData.LowAgeMonth * 30)) + parseFloat(res.VacData.LowAgeDay)
                            var docDate = self.control.formQuery.find('[name="VaccinationDate"]').val()
                            var lastDate = '-'
                            var nextVacci = '-'
                            var today = moment(new Date()).format('YYYY-MM-DD')
                            var res1 = 0
                            var res2 = 0
                            if (e.VacciData == null) {
                                res2 = calBetweenTwoDate(e.ChickData.BirthDay, today) - vacAge
                                console.log('ไม่เคยฉีด เกินวันที่ต้องเริ่มมาแล้ว : ' + res2)
                            } else {
                                lastDate = e.VacciData.VaccinationDate
                                res1 = calBetweenTwoDate(lastDate, docDate) - vacFreq
                                nextVacci = moment(lastDate).add(7, 'hours').add(vacFreq, 'days').toISOString().substr(0, 10)
                                console.log('จากวันล่าสุดถึงวันนี้ : ' + res1)
                            }
                            console.log('ย้ำทุกๆ ' + vacFreq + ' วัน' + ' / อายุขั้นต่ำ ' + vacAge + ' วัน')
                            console.log(e.ChickData.Name);
                            console.log(res1);
                            if (res1 >= 0 && res2 >= 0) {
                                table.append(`<tr>
                                                <td>${e.ChickData.RunningNo}</td>
                                                <td>${e.ChickData.Name}</td>
                                                <td class="text-center">${lastDate}</td>
                                                <td class="text-center">${nextVacci}</td>
                                              </tr>`)
                            }
                        })
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[2, "asc"]], "dom": '<"pull-right"l><"pull-left"B><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "lengthMenu": "แสดง _MENU_ รายการ",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            }
                        },
                        "buttons": [
                            { extend: 'print', text: 'พิมพ์ข้อมูล' }
                        ]
                    });
                    self.control.container.find('.overlay').hide()
                });
            },
            loadVaccineData: function () {
                var self = this;
                self.control.modal_Vaccine.find('.overlay').show()
                var table = self.control.tbl_VcData;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: '/App/Vaccination/VaccineData/List',
                    method: 'GET',
                    success: function (res) {
                        $.each(res, function (i, e) {
                            table.append(`<tr>
                                                    <td class="hidden">${e.DocId}</td>
                                                    <td>${e.VcCode}</td>
                                                    <td>${e.VcName_Th}</td>
                                                    <td>${e.VcDetail}</td>
                                                  </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[1, "asc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "lengthMenu": "แสดง _MENU_ รายการ",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            },
                        }
                    });
                    self.control.modal_Vaccine.find('.overlay').hide();
                });
            },
        }

        $(function () {
            reports.init();
            $('[name="VaccinationDate"]').datetimepicker({ format: 'YYYY-MM-DD' });
        });
    </script>
}