﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "ข้อมูลการชนไก่";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Fighting.cshtml";
}

<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @@media (min-width: 768px) {
        .flex-row {
            display: flex;
            flex-wrap: wrap;
        }
    }

    [class*='col-'] {
        margin-bottom: 10px;
    }

        [class*='col-'] .box {
            height: 100%;
            min-height: 150px;
        }

    /*.add-project .box {
        user-select: none;
        cursor: pointer;
        display: table;
    }

        .add-project .box .box-body {
            display: table-cell;
            width: 100%;
            height: 100%;
            padding: 10px;
            vertical-align: middle;
        }*/

    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }

    [hidden] {
        display: none !important;
    }
</style>

<section class="content" style="min-height: 0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>การชนไก่</h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-12" style="padding: 0">
                        <div class="col-sm-offset-10 col-sm-2">
                            <button class="btn btn-warning form-control" data-target="#modal_Add" data-toggle="modal">เพิ่มข้อมูล</button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table class="table table-bordered tbl_Fighting" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="hidden">docId</th>
                                    <th class="col-sm-ๅ text-center">วันที่แข่ง</th>
                                    <th class="col-sm-1 text-center">RunNo.</th>
                                    <th class="col-sm-2 text-center">ชื่อไก่</th>
                                    <th class="col-sm-2 text-center">สถานที่</th>
                                    <th class="col-sm-2 text-center">เงินรางวัล</th>
                                    <th class="col-sm-2 text-center">ผลการแข่ง</th>
                                    <th class="col-sm-2 text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="overlay" style="display:none;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal_Add" style="display: none;">
    <form id="formAdd" class="form-horizontal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียด</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="DocId" class="hidden" readonly />
                    <div class="form-group">
                        <label class="col-sm-4 control-label">วันที่แข่ง <label style="color:red">*</label></label>
                        <div class="col-sm-6"><input type="text" class="form-control" name="FightingDate" required /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">ไก่ที่ใช้แข่ง <label style="color:red">*</label></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control hidden" name="CockId" />
                            <input type="text" class="form-control" name="CockName" style="cursor:pointer" placeholder="-- กรุณาเลือก --" readonly required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 text-right"><label class="control-label">สายพันธุ์คู่แข่ง <label style="color:red">*</label></label></div>
                        <div class="col-sm-6">
                            <select class="form-control selectpicker" name="OpponentSpecies" id="selectOpponentSpecies">
                                <option value="ไก่ไทย(ไก่เชิง)">ไก่ไทย(ไก่เชิง)</option>
                                <option value="พม่า">พม่า</option>
                                <option value="ง่อน">ง่อน</option>
                                <option value="ป่าก๋อย">ป่าก๋อย</option>
                                <option value="พม่าบราซิล">พม่าบราซิล</option>
                                <option value="พม่าญี่ปุ่น">พม่าญี่ปุ่น</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">สถานที่ <label style="color:red">*</label></label>
                        <div class="col-sm-6">
                            <textarea class="form-control" name="Location" rows="4" style="resize:none" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">หมายเหตุ</label>
                        <div class="col-sm-6"><input type="text" class="form-control" name="FightingRemark" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">เงินเดิมพัน <label style="color:red">*</label></label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" name="Bet" min="0" step="any" required />
                        </div>
                        <label class="col-sm-2 control-label" style="text-align:left;">บาท</label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">ผลการแข่ง <label style="color:red">*</label></label>
                        <div class="col-sm-6">
                            <label class="radio-inline"><input type="radio" name="Result" value="Win" checked>ชนะ</label>
                            <label class="radio-inline"><input type="radio" name="Result" value="Lose">แพ้</label>
                            <label class="radio-inline"><input type="radio" name="Result" value="Draw">เสมอ</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" id="mdAdd_btn_Save" class="btn btn-warning"><i class="fa fa-save"></i> บันทึก</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าจอ</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modal_DadMom" style="display: none;">
    <form class="form-horizontal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="hidden" id="mdDadMom_Sex" />
                        <table class="table table-bordered table-hover tbl_DadMom" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="hidden">docId</th>
                                    <th class="col-sm-2 text-center">รหัส</th>
                                    <th class="col-sm-3 text-center">ชื่อ</th>
                                    <th class="col-sm-2 text-center">วันเกิด</th>
                                    <th class="col-sm-1 text-center">อายุ</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าจอ</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

@section Script {
    <script>
        $('.navbar-nav > li').show();

        var fighting = {
            api: '/App/Fighting',
            init: function () {
                var self = this;
                self.event();
                self.loadAll();
            },
            control: {
                container: $('#container'),
                tbl_Fighting: $('.tbl_Fighting'),
                modal_Add: $('#modal_Add'),
                formAdd: $('#formAdd'),
                selectOpponentSpecies: $('#selectOpponentSpecies'),
                CockName: $('[name="CockName"]'),
                rdResult: $('[name="Result"]'),
                Bet: $('[name="Bet"]'),
                modal_DadMom: $('#modal_DadMom'),
                tbl_DadMom: $('.tbl_DadMom'),
            },
            event: function () {
                var self = this;
                self.control.modal_Add.on('show.bs.show.bs.modal', function () {
                    self.control.rdResult.prop('disabled', false)
                    self.control.Bet.prop('readonly', false)
                    if (self.control.formAdd.find('[name="DocId"]').val() != '') {
                        self.load()
                    } else {
                        self.control.modal_Add.find('[name="FightingDate"]').val(moment(new Date()).format('YYYY-MM-DD'))
                    }
                })
                self.control.modal_Add.on('hide.bs.hide.bs.modal', function () {
                    self.control.formAdd[0].reset()
                    self.control.selectOpponentSpecies.eq(0).prop('selected', true).change();
                    self.loadAll()
                })
                self.control.formAdd.submit(function (e) {
                    e.preventDefault()
                    var formData = self.control.formAdd.serializeToJSON()
                    if (formData.CockName == '') {
                        swal('กรุณาเลือกไก่ที่ใช้แข่ง !', '', 'warning')
                        return
                    }
                    self.save()
                })
                self.control.Bet.on('keyup', function (e) {
                    self.control.Bet.val(parseFloat($(e.currentTarget).val()))
                })
                self.control.CockName.on('click', function () {
                    self.control.modal_DadMom.find('.modal-title').text('เลือกไก่ที่ใช้แข่ง')
                    var sex = 'ผู้'
                    self.control.modal_DadMom.find('#mdDadMom_Sex').val(sex)
                    self.loadDadMom(sex)
                    self.control.modal_DadMom.modal('show')
                })
                self.control.tbl_DadMom.on('click', 'tr td', function () {
                    var currow = $(this).closest('tr');
                    var id = currow.find('td:eq(0)').text()
                    var name = currow.find('td:eq(2)').text()
                    self.control.modal_Add.find('[name="CockId"]').val(id)
                    self.control.modal_Add.find('[name="CockName"]').val(name)
                    self.control.modal_DadMom.modal('hide');
                })
                self.control.tbl_Fighting.on('click', '[name="btn_Edit"]', function (e) {
                    var currow = $(e.currentTarget).closest('tr');
                    var id = currow.find('td:eq(0)').text()
                    self.control.formAdd.find('[name="DocId"]').val(id)
                    self.control.modal_Add.modal('show')
                })
                self.control.rdResult.on('change', function (e) {
                    if ($(e.currentTarget).val() == 'Lose') {
                        self.control.modal_Add.find('[name="Bet"]').val(0)
                        self.control.modal_Add.find('[name="Bet"]').prop('disabled', true)
                    } else {
                        self.control.modal_Add.find('[name="Bet"]').prop('disabled', false)
                    }
                })
            },
            save: function () {
                var self = this;
                console.log(self.control.formAdd.serializeToJSON());
                self.control.modal_Add.find('.overlay').show()
                $.ajax({
                    url: fighting.api + '/Save',
                    method: 'POST',
                    data: {
                        formData: self.control.formAdd.serializeToJSON()
                    },
                    success: function (res) {
                        swal(res, '', 'success')
                    },
                    error: function (err) { swal(err, '', 'error') },
                }).done(function () {
                    self.control.modal_Add.find('.overlay').hide()
                    self.control.modal_Add.modal('hide')
                })
            },
            load: function () {
                var self = this;
                console.log('Load');
                console.log(self.control.formAdd.find('[name="DocId"]').val());
                self.control.modal_Add.find('.overlay').show()
                $.ajax({
                    url: fighting.api + '/GetById',
                    method: 'GET',
                    data: {
                        docId: self.control.formAdd.find('[name="DocId"]').val()
                    },
                    success: function (res) {
                        console.log(res);
                        self.control.formAdd.dejsonify(res)
                        self.control.selectOpponentSpecies.val(res.OpponentSpecies).change();
                        if (res.Result == 'Lose') {
                            self.control.Bet.prop('readonly', true)
                        }
                        self.control.rdResult.prop('disabled', true)
                    },
                }).done(function () {
                    self.control.modal_Add.find('.overlay').hide();
                });
            },
            loadAll: function () {
                var self = this;
                self.control.container.find('.overlay').show()
                var table = self.control.tbl_Fighting;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: fighting.api + '/List',
                    method: 'GET',
                    success: function (res) {
                        $.each(res, function (i, e) {
                            var result = ''
                            switch (e.fight.Result) {
                                case 'Win':
                                    result = 'ชนะ'
                                    break;
                                case 'Lose':
                                    result = 'แพ้'
                                    break;
                                case 'Draw':
                                    result = 'เสมอ'
                                    break;
                            }
                            table.append(`<tr>
                                                <td class="hidden">${e.fight.DocId}</td>
                                                <td class="text-center">${e.fight.FightingDate}</td>
                                                <td>${e.chick.RunningNo}</td>
                                                <td>${e.chick.Name}</td>
                                                <td>${e.fight.Location}</td>
                                                <td>${$.number(e.fight.Bet, 2)}</td >
                                                <td>${result}</td>
                                                <td class="text-center">
                                                    <button class="btn btn-sm btn-info" name="btn_Edit">
                                                        แก้ไข
                                                    </button>
                                                </td>
                                              </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[1, "desc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "lengthMenu": "แสดง _MENU_ รายการ",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            },
                        }
                    });
                    self.control.container.find('.overlay').hide();
                });
            },
            delete: function () {
                var self = this;
                self.control.modal_Add.find('.overlay').show()
                $.ajax({
                    url: fighting.api + '/Delete',
                    method: 'POST',
                    data: {
                        docId: self.control.formAdd.find('[name="DocId"]').val()
                    },
                    success: function (res) {
                        swal(res, '', 'success')
                    },
                    error: function (err) { swal(err, '', 'error') },
                }).done(function () {
                    self.control.modal_Add.find('.overlay').hide()
                    self.control.modal_Add.modal('hide')
                })
            },
            loadDadMom: function (sex) {
                var self = this;
                self.control.modal_DadMom.find('.overlay').show()
                var table = self.control.tbl_DadMom;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: '/App/ChickenData/GetBySex',
                    method: 'GET',
                    data: {
                        sex: sex
                    },
                    success: function (res) {
                        console.log(res);
                        $.each(res, function (i, e) {
                            var start = new Date(e.BirthDay),
                                end = new Date(),
                                diff = new Date(end - start),
                                days = $.number(diff / 1000 / 60 / 60 / 24, 0),
                                month = $.number(days.replace(/,/g, '') / 31, 0),
                                years = month / 12;
                            month = month - (parseFloat(years.toString().split('.')[0]) * 12)
                            console.log(`Years : ${parseInt(years)} / Month : ${month}`)
                            if (parseInt(years) == 0 && month < 9) {
                                return
                            }
                            table.append(`<tr>
                                                <td class="hidden">${e.DocId}</td>
                                                <td>${e.RunningNo}</td>
                                                <td>${e.Name}</td>
                                                <td class="text-center">${e.BirthDay}</td>
                                                <td class="text-center">${years.toString().split('.')[0]} ปี ${$.number(month)} เดือน</td>
                                              </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({ "order": [[1, "asc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>' });
                    self.control.modal_DadMom.find('.overlay').hide();
                });
            },
            enabled: function () {
                var self = this;
            },
            disabled: function () {
                var self = this;
            }
        }

        $(function () {
            fighting.init();
            $('[name="FightingDate"]').datetimepicker({ format: 'YYYY-MM-DD' });
        });
    </script>
}