﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "รายชื่อพนักงาน";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Security.cshtml";
}

<style>
    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }
</style>

<section class="content" style="min-height:0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>รายชื่อพนักงาน</h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <h4><strong>รายชื่อพนักงานที่ใช้งานได้</strong></h4>
                        <table class="table table-bordered" id="tbl_ActiveUser" width="100%">
                            <thead>
                                <tr>
                                    <th class="col-sm-2 text-center">อีเมล์</th>
                                    <th class="col-sm-2 text-center">ชื่อ - นามสกุล</th>
                                    <th class="col-sm-4 text-center">ที่อยู่</th>
                                    <th class="col-sm-2 text-center">เบอร์โทรศัพท์</th>
                                    <th class="col-sm-2 text-center">สิทธิ์</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal_Role" style="display: none;">
    <form class="form-horizontal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">เปลี่ยนสิทธิ์</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="docId" class="hidden" />
                    <div class="form-group">
                        <div class="col-sm-4 text-right"><label class="control-label">สิทธิ์การใช้งาน</label></div>
                        <div class="col-sm-8">
                            <select class="form-control selectpicker" id="mdRole_slc_Role">
                                <option value="User">User</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าจอ</button>
                    <button type="button" class="btn btn-warning" id="mdRole_btn_Save">บันทึก</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

@section Script {
    <script>
        $('.navbar-nav > li').show();

        var user = {
            api: '/App/Security',
            init: function () {
                var self = this;
                self.event();
                self.loadAll();
            },
            control: {
                container: $('#container'),
                tbl_ActiveUser: $('#tbl_ActiveUser'),
            },
            event: function () {
                var self = this;
                
            },
            loadAll: function () {
                var self = this;
                self.control.container.find('.overlay').show();
                self.control.container.find('.devTable').remove(); 
                var tableActive = self.control.tbl_ActiveUser
                tableActive.dataTable().fnClearTable();
                tableActive.dataTable().fnDestroy();
                $.ajax({
                    url: user.api + '/ListAllUser',
                    method: 'GET',
                    success: function (res) {
                        console.log(res);
                        $.each(res, function (i, e) {
                            if (e.Status == 'Active') {
                                tableActive.append(`<tr>
                                                <td>${e.DocId}</td>
                                                <td>${e.Name}</td>
                                                <td>${e.Address}</td>
                                                <td class="text-center">${e.PhoneNo}</td>
                                                <td class="text-center">${e.Role}</td>
                                              </tr>`);
                            }
                        });
                        tableActive.dataTable({
                            "order": [[0, "asc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                                "emptyTable": "ไม่มีข้อมูล",
                                "search": "ค้นหา:",
                                "lengthMenu": "แสดง _MENU_ รายการ",
                                "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                                "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                                "paginate": {
                                    "next": "ถัดไป",
                                    "previous": "ย้อนกลับ"
                                },
                            }
                        });
                    },
                    error: function () { },
                }).done(function () {
                    self.control.container.find('.overlay').hide();
                });
            },
        }

        $(function () {
            user.init();
        });
    </script>
}