﻿@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @*<link href="~/css/bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/css/skins/_all-skins.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Validator/bs/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Validator/css/bootstrapValidator.css" />
    <link href="~/css/index_style.css" rel="stylesheet" />
    <link href="~/css/bootstrap-select.css" rel="stylesheet">
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/easy-autocomplete.css" rel="stylesheet" />

    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>

    <script src="~/js/jquery-3.4.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>
    <script src="~/js/jquery.easy-autocomplete.js" type="text/javascript"></script>
    <script src="~/js/jquery.formatCurrency-1.4.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Validator/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-select.js"></script>

</head>
<body class="hold-transition skin-yellow sidebar-mini sidebar-collapse">
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

        input[type=number] {
            text-align:right;
        }
    </style>
    <div class="paceDiv"></div>
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                @*<span class="logo-mini"><b>BDG</b></span>*@
                <!-- logo for regular state and mobile devices -->
                @*<span class="logo-lg">DV Insight</span>*@
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <a class="navbar-brand" style="font-size:100%"></a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown user user-menu text-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="@Context.Session.GetString("PhotoUrl")" class="user-image" alt="User Image">
                                <span class="hidden-xs">&zwj;</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header" style="height:50%;padding:0px">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="@Context.Session.GetString("PhotoUrl")" class="img-sm img-circle" />
                                                    <label class="control-label" style="margin-top:1%">@Context.Session.GetString("UserId")</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li class="user-body" style="padding-bottom:0px">
                                    <div class="form-group" style="margin-bottom:2%">
                                        <i class="fa fa-th-list" style="font-size:130%">
                                            <a href="~/App/Index" class="btn" style="padding-top:0px;">กลับเมนูหลัก</a>
                                        </i>
                                    </div>
                                    <div class="form-group" style="margin-bottom:2%">
                                        <i class="fa fa-times-circle" style="font-size:150%">
                                            <a href="~/App/Logout" class="btn" style="padding-top:0px;">ออกจากระบบ</a>
                                        </i>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">เมนูหลัก</li>
                    <partial name="@ViewData["sidebar"]" />
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <!-- Version -->
        <footer class="main-footer">
            <div class="text-center">
                <label style="font-weight:normal"><i class="fa fa-copyright"></i> สงวนลิขสิทธิ์.</label>
            </div>
        </footer>
    </div>

    <div class="modal fade centered-modal" id="modalIdleSession" data-backdrop="static" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                        <label class="h3"><strong>คุณไม่ได้ใช้งานระบบเกินเวลาที่กำหนด</strong></label><br />
                        <label class="h4">เพื่อความปลอดภัย ระบบจึงตัดการเชื่อมต่อของคุณออก</label><br /><br /><br />
                        <button type="button" class="btn btn-lg btn-warning" onclick="location.href = '/App/Logout'">กลับสู่หน้าแรก / Go to Login page.</button>
                    </center>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery.jsonify-0.3.2.min.js"></script>
    <script src="~/js/jquery.confirm.min.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/js/fastclick.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/js/jquery.number.js"></script>
    <script src="~/js/moment-with-locales.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/jquery.serializeToJSON.js"></script>
    <script src="~/js/jquery.tabletojson.js"></script>
    <script src="~/js/plotly-latest.min.js"></script>
    <script src="~/js/IdleSession.js"></script>
    <script src="~/js/sweetalert.js"></script>
    @RenderSection("Script", required: false)
</body>
</html>
