﻿.table > thead > tr > th {
    background-color: #F6F6F6;
}

.table > tbody > tr > td {
    background-color: #FAFAFA;
}

.modal-body > .table > tbody > tr > td {
    /*text-align: right;*/
}

.modal-body > .table > thead > tr > th {
    text-align: center;
}

.modal-body {
    padding-left: 10%;
    padding-right: 10%;
    background: #F3F3F3;
}

.form-control[readonly] {
    /*background-color: white;*/
    opacity: 1;
}

    .form-control[readonly].disabled {
        background-color: #efefef !important;
        opacity: 1;
    }

    .form-control[readonly].input-warning {
        background: #FFF176 !important;
    }

    .form-control[readonly].input-outdate {
        background: #dd4b39 !important;
        color: #efefef;
    }

    .form-control[readonly].input-finish {
        background: #00a65a !important;
        color: #efefef;
    }

tbody tr.highlight td {
    background-color: #ededed;
}

.nodisplay {
    display: none;
}

.modal-footer {
    margin-top: 0px;
}
