﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "จำหน่ายไก่ออก";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_ChickenData.cshtml";
}

<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @@media (min-width: 768px) {
        .flex-row {
            display: flex;
            flex-wrap: wrap;
        }
    }

    [class*='col-'] {
        margin-bottom: 10px;
    }

        [class*='col-'] .box {
            height: 100%;
            min-height: 150px;
        }

    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }

    [hidden] {
        display: none !important;
    }

    .uploader {
        display: block;
        clear: both;
        margin: 0 auto;
        width: 100%;
        /*max-width: 600px;*/
    }

        .uploader label {
            float: left;
            clear: both;
            width: 100%;
            padding: 2rem 1.5rem;
            text-align: center;
            background: #fff;
            border-radius: 7px;
            border: 3px solid #eee;
            transition: all 0.2s ease;
            user-select: none;
        }

            .uploader label:hover {
                border-color: #454cad;
            }

            .uploader label.hover {
                border: 3px solid #454cad;
                box-shadow: inset 0 0 0 6px #eee;
            }

                .uploader label.hover .start i.fa {
                    transform: scale(0.8);
                    opacity: 0.3;
                }

        .uploader .start {
            float: left;
            clear: both;
            width: 100%;
        }

            .uploader .start.hidden {
                display: none;
            }

            .uploader .start i.fa {
                font-size: 50px;
                margin-bottom: 1rem;
                transition: all 0.2s ease-in-out;
            }

        .uploader .response {
            float: left;
            clear: both;
            width: 100%;
        }

            .uploader .response .hidden {
                display: none;
            }

            .uploader .response .messages {
                margin-bottom: 0.5rem;
            }

        .uploader [name="file-image"] {
            display: inline;
            margin: 0 auto 0.5rem auto;
            width: auto;
            height: auto;
            max-width: 180px;
        }

            .uploader [name="file-image"].hidden {
                display: none;
            }


        .uploader progress, .uploader .progress {
            display: inline;
            clear: both;
            margin: 0 auto;
            width: 100%;
            max-width: 180px;
            height: 8px;
            border: 0;
            border-radius: 4px;
            background-color: #eee;
            overflow: hidden;
        }

            .uploader .progress[value]::-webkit-progress-bar {
                border-radius: 4px;
                background-color: #eee;
            }

            .uploader .progress[value]::-webkit-progress-value {
                background: linear-gradient(to right, #393f90 0%, #454cad 50%);
                border-radius: 4px;
            }

            .uploader .progress[value]::-moz-progress-bar {
                background: linear-gradient(to right, #393f90 0%, #454cad 50%);
                border-radius: 4px;
            }

        .uploader input[type="file"] {
            display: none;
        }

        .uploader div {
            margin: 0 0 0.5rem 0;
            color: #5f6982;
        }
</style>

<section class="content" style="min-height: 0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>นำไก่ออก</h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <table class="table table-bordered tbl_Chick" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="hidden">docId</th>
                                    <th class="col-sm-1 text-center">RunNo.</th>
                                    <th class="col-sm-1 text-center">รหัส</th>
                                    <th class="col-sm-3 text-center">ชื่อ</th>
                                    <th class="col-sm-1 text-center">เพศ</th>
                                    <th class="col-sm-2 text-center">วันเกิด</th>
                                    <th class="col-sm-1 text-center">อายุ</th>
                                    <th class="col-sm-1 text-center">สถานะ</th>
                                    <th class="col-sm-2 text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="overlay" style="display:none;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal_Add" style="display: none;">
    <form id="formAdd" class="form-horizontal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียด</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="DocId" class="hidden" readonly />
                    <div class="form-group">
                        <label class="col-sm-4 control-label">วันที่จำหน่ายออก <label style="color:red">*</label></label>
                        <div class="col-sm-4"><input type="text" name="SoldDate" class="form-control" required/></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">ราคาที่จำหน่าย <label style="color:red">*</label></label>
                        <div class="col-sm-4"><input type="number" name="SoldPrice" step="any" class="form-control" required/></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">ขายให้กับ <label style="color:red">*</label></label>
                        <div class="col-sm-8"><input type="text" name="SoldRemark" class="form-control" required/></div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" id="mdAdd_btn_Save" class="btn btn-warning"><i class="fa fa-save"></i> บันทึก</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าจอ</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

@section Script {
    <script>
        $('.navbar-nav > li').show();

        var chick = {
            api: '/App/ChickenData',
            init: function () {
                var self = this;
                self.event();
                self.loadAll();
            },
            control: {
                container: $('#container'),
                tbl_Chick: $('.tbl_Chick'),
                modal_Add: $('#modal_Add'),
                formAdd: $('#formAdd'),
            },
            event: function () {
                var self = this
                self.control.tbl_Chick.on('click', '[name="btn_Dead"]', (e) => {
                    var docId = $(e.currentTarget).closest('tr').find('td:eq(0)').text()
                    swal({
                        title: "ต้องการเปลี่ยนสถานะเป็นตาย ใช่หรือไม่ ?",
                        icon: "warning",
                        buttons: ["ยกเลิก", "ยืนยัน"],
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                $.ajax({
                                    url: chick.api + '/UpdateStatusToDead',
                                    method: 'POST',
                                    data: {
                                        docId: docId
                                    },
                                    success: function (res) {
                                        swal(res, '', 'success').then(() => { self.loadAll() })
                                    },
                                })
                            }
                        })
                })
                self.control.modal_Add.on('show.bs.show.bs.modal', (e) => {
                    self.control.formAdd[0].reset()
                    console.log(e);
                    var currow = $(e.relatedTarget).closest('tr');
                    var id = currow.find('td:eq(0)').text()
                    self.control.formAdd.find('[name="DocId"]').val(id)
                    self.control.formAdd.find('[name="SoldDate"]').val(moment().add(7, 'hours').toISOString().substr(0, 10))
                })
                self.control.formAdd.submit((e) => {
                    e.preventDefault()
                    self.save()
                })
            },
            save: function () {
                var self = this
                $.ajax({
                    url: chick.api + '/UpdateStatusToSold',
                    method: 'POST',
                    data: {
                        update: self.control.formAdd.serializeToJSON()
                    },
                    success: function (res) {
                        swal(res, '', 'success').then(() => {
                            self.control.modal_Add.modal('hide')
                            self.loadAll()
                        })
                    },
                    error: function (err) { swal(err, '', 'error') },
                })
            },
            loadAll: function () {
                var self = this;
                self.control.container.find('.overlay').show()
                var table = self.control.tbl_Chick;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: chick.api + '/ListAlive',
                    method: 'GET',
                    success: function (res) {
                        $.each(res, function (i, e) {
                            var start = new Date(e.BirthDay),
                                end = new Date(),
                                diff = new Date(end - start),
                                days = $.number(diff / 1000 / 60 / 60 / 24, 0),
                                month = $.number(days.replace(/,/g, '') / 31, 0),
                                years = month / 12;
                            month = month - (parseFloat(years.toString().split('.')[0]) * 12)
                            //console.log(`ปี : ${years} / เดือน : ${month} / วัน : ${days}`)
                            table.append(`<tr>
                                            <td class="hidden">${e.DocId}</td>
                                            <td>${e.RunningNo}</td>
                                            <td>${e.Code}</td>
                                            <td>${e.Name}</td>
                                            <td class="text-center">${e.Sex}</td>
                                            <td class="text-center">${e.BirthDay}</td>
                                            <td class="text-center">${years.toString().split('.')[0]} ปี ${$.number(month)} เดือน</td>
                                            <td class="text-center">${e.Status_Th}</td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-warning" name="btn_Sold" data-target="#modal_Add" data-toggle="modal">
                                                    ขายออก
                                                </button>
                                                <button class="btn btn-sm btn-danger" name="btn_Dead">
                                                    ตาย
                                                </button>
                                            </td>
                                          </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[1, "asc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "lengthMenu": "แสดง _MENU_ รายการ",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            },
                        }
                    });
                    self.control.container.find('.overlay').hide();
                });
            },
        }

        $(function () {
            chick.init();
            $('[name="SoldDate"]').datetimepicker({ format: 'YYYY-MM-DD' })
        });
    </script>
}