﻿<li><a href="~/App/Vaccination" tabindex="1"><i class="fa fa-home text-warning"></i> <span>หน้าหลัก</span></a></li>
<li><a href="~/App/Vaccination/VaccineData" tabindex="1"><i class="fa fa-medkit text-warning"></i> <span>ข้อมูลวัคซีน</span></a></li>