﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Menu";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Index.cshtml";
}

<style>
    #btn_Test {
        height: 100px;
    }

        #btn_Test:hover {
            background-color: black;
            color: orange;
        }
</style>

<section class="content" style="min-height:0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h1 class="h3">
                        รายชื่อไก่และวัคซีนที่ต้องฉีด
                    </h1>
                </div>
                <div class="box-body">
                    @*<form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-3" style="cursor: pointer">
                                    <div class="box box-warning" onclick="home.load(this)">
                                        <div class="box-body bg-orange menu" title="ChickenData">
                                            <p class="h3" style="margin-top:0;">ข้อมูลไก่</p>
                                            <p class="ellipsis menuDetail">ฟังก์ชันในการบันทึกข้อมูลไก่</p>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3" style="cursor: pointer">
                                    <div class="box box-warning" onclick="home.load(this)">
                                        <div class="box-body bg-orange menu" title="Mating">
                                            <p class="h3" style="margin-top:0;">การผสมพันธุ์ไก่</p>
                                            <p class="ellipsis menuDetail">ฟังก์ชันในการบันทึกข้อมูลการผสมพันธุ์ไก่</p>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3" style="cursor: pointer">
                                    <div class="box box-warning" onclick="home.load(this)">
                                        <div class="box-body bg-orange menu" title="Vaccination">
                                            <p class="h3" style="margin-top:0;">การให้วัคซีน</p>
                                            <p class="ellipsis menuDetail">ฟังก์ชันในการบันทึกข้อมูลการให้วัคซีน</p>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3" style="cursor: pointer">
                                    <div class="box box-warning" onclick="home.load(this)">
                                        <div class="box-body bg-orange menu" title="Fighting">
                                            <p class="h3" style="margin-top:0;">การชนไก่</p>
                                            <p class="ellipsis menuDetail">ฟังก์ชันในการบันทึกข้อมูลการชนไก่</p>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3" style="cursor: pointer">
                                    <div class="box box-warning" onclick="home.load(this)">
                                        <div class="box-body bg-orange menu" title="Reports">
                                            <p class="h3" style="margin-top:0;">รายงาน</p>
                                            <p class="ellipsis menuDetail">ฟังก์ชันการออกรายงาน</p>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>*@
                    <div class="col-sm-12">
                        <table id="tbl_ChickVac" class="table table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="col-sm-2 text-center">RunNo.</th>
                                    <th class="col-sm-2 text-center">ชื่อไก่</th>
                                    <th class="col-sm-1 text-center">รหัสวัคซีน</th>
                                    <th class="col-sm-2 text-center">ชื่อวัคซีน</th>
                                    <th class="col-sm-2 text-center">วันที่ฉีดล่าสุด</th>
                                    <th class="col-sm-2 text-center">วันที่ต้องฉีดรอบถัดไป</th>
                                    <th class="col-sm-1 text-center">สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/CalculateDatetime.js"></script>
@section Script {
    <script>
        var home = {
            init: function () {
                var self = this;
                self.event();
                self.loadAll()
            },
            control: {
                container: $('#container'),
                tbl_ChickVac: $('#tbl_ChickVac'),
            },
            event: function () {
                var self = this;
            },
            load: function (e) {
                var self = this;
                self.control.container.find('.overlay').show();
                var name = $(e).find('.menu').attr('title');
                window.open(`/App/${name}`, "_self");
                self.control.container.find('.overlay').hide();
            },
            loadAll: function () {
                var self = this
                self.control.container.find('.overlay').show()
                var table = self.control.tbl_ChickVac
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: '/App/Vaccination/ListAllChickAllLastVac',
                    method: 'GET',
                    success: function (result) {
                        console.log(result)
                        $.each(result, (i, res) => {
                            $.each(res.ChickLastVac, (i, e) => {
                                console.log(e.ChickData.Name);
                                var vacFreq = (parseFloat(res.VacData.FrequencyMonth * 30)) + parseFloat(res.VacData.FrequencyDay)
                                var vacAge = (parseFloat(res.VacData.LowAgeMonth * 30)) + parseFloat(res.VacData.LowAgeDay)
                                var docDate = moment(new Date()).format('YYYY-MM-DD')
                                var lastDate = '-'
                                var nextVacci = '-'
                                var today = moment(new Date()).format('YYYY-MM-DD')
                                var res1 = 0
                                var res2 = 0
                                if (e.VacciData == null) {
                                    res2 = calBetweenTwoDate(e.ChickData.BirthDay, today) - vacAge
                                    console.log('ไม่เคยฉีด เกินวันที่ต้องเริ่มมาแล้ว : ' + res2)
                                } else {
                                    lastDate = e.VacciData.VaccinationDate
                                    res1 = calBetweenTwoDate(lastDate, today) - vacFreq
                                    nextVacci = moment(lastDate).add(7, 'hours').add(vacFreq, 'days').toISOString().substr(0, 10)
                                    console.log('จากวันล่าสุดถึงวันนี้ : ' + res1)
                                }
                                console.log('ย้ำทุกๆ ' + vacFreq + ' วัน' + ' / อายุขั้นต่ำ ' + vacAge + ' วัน')
                                console.log(e.ChickData.Name);
                                console.log(res1, res2)
                                if (res1 >= 0 && res2 >= 0) {
                                    table.append(`<tr>
                                                    <td>${e.ChickData.RunningNo}</td>
                                                    <td>${e.ChickData.Name}</td>
                                                    <td>${res.VacData.VcCode}</td>
                                                    <td>${res.VacData.VcName_Th}</td>
                                                    <td class="text-center">${lastDate}</td>
                                                    <td class="text-center">${nextVacci}</td>
                                                    <td class="text-center"><label class="text-success">พร้อม</label></td>
                                                  </tr>`)
                                } else {
                                    table.append(`<tr>
                                                    <td>${e.ChickData.RunningNo}</td>
                                                    <td>${e.ChickData.Name}</td>
                                                    <td>${res.VacData.VcCode}</td>
                                                    <td>${res.VacData.VcName_Th}</td>
                                                    <td class="text-center">${lastDate}</td>
                                                    <td class="text-center">${nextVacci}</td>
                                                    <td class="text-center"><label class="text-danger">ไม่พร้อม</label></td>
                                                  </tr>`)
                                }
                            })
                        })
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[0, "asc"], [2, "asc"]], "dom": '<"pull-left"B><"pull-right"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "lengthMenu": "แสดง _MENU_ รายการ",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            }
                        },
                        "buttons": [
                            { extend: 'print', text: 'พิมพ์ข้อมูล' }
                        ]
                    });
                    self.control.container.find('.overlay').hide()
                });
            },
        }
        $(function () {
            home.init();
        });
    </script>
}