﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "ข้อมูลไก่";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_ChickenData.cshtml";
}

<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @@media (min-width: 768px) {
        .flex-row {
            display: flex;
            flex-wrap: wrap;
        }
    }

    [class*='col-'] {
        margin-bottom: 10px;
    }

        [class*='col-'] .box {
            height: 100%;
            min-height: 150px;
        }

    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }

    [hidden] {
        display: none !important;
    }

    .uploader {
        display: block;
        clear: both;
        margin: 0 auto;
        width: 100%;
        /*max-width: 600px;*/
    }

        .uploader label {
            float: left;
            clear: both;
            width: 100%;
            padding: 2rem 1.5rem;
            text-align: center;
            background: #fff;
            border-radius: 7px;
            border: 3px solid #eee;
            transition: all 0.2s ease;
            user-select: none;
        }

            .uploader label:hover {
                border-color: #454cad;
            }

            .uploader label.hover {
                border: 3px solid #454cad;
                box-shadow: inset 0 0 0 6px #eee;
            }

                .uploader label.hover .start i.fa {
                    transform: scale(0.8);
                    opacity: 0.3;
                }

        .uploader .start {
            float: left;
            clear: both;
            width: 100%;
        }

            .uploader .start.hidden {
                display: none;
            }

            .uploader .start i.fa {
                font-size: 50px;
                margin-bottom: 1rem;
                transition: all 0.2s ease-in-out;
            }

        .uploader .response {
            float: left;
            clear: both;
            width: 100%;
        }

            .uploader .response .hidden {
                display: none;
            }

            .uploader .response .messages {
                margin-bottom: 0.5rem;
            }

        .uploader [name="file-image"] {
            display: inline;
            margin: 0 auto 0.5rem auto;
            width: auto;
            height: auto;
            max-width: 180px;
        }

            .uploader [name="file-image"].hidden {
                display: none;
            }


        .uploader progress, .uploader .progress {
            display: inline;
            clear: both;
            margin: 0 auto;
            width: 100%;
            max-width: 180px;
            height: 8px;
            border: 0;
            border-radius: 4px;
            background-color: #eee;
            overflow: hidden;
        }

            .uploader .progress[value]::-webkit-progress-bar {
                border-radius: 4px;
                background-color: #eee;
            }

            .uploader .progress[value]::-webkit-progress-value {
                background: linear-gradient(to right, #393f90 0%, #454cad 50%);
                border-radius: 4px;
            }

            .uploader .progress[value]::-moz-progress-bar {
                background: linear-gradient(to right, #393f90 0%, #454cad 50%);
                border-radius: 4px;
            }

        .uploader input[type="file"] {
            display: none;
        }

        .uploader div {
            margin: 0 0 0.5rem 0;
            color: #5f6982;
        }
</style>

<section class="content" style="min-height: 0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>ข้อมูลไก่</h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-12" style="padding: 0">
                        <div class="col-sm-offset-10 col-sm-2">
                            <button class="btn btn-warning form-control" data-target="#modal_Add" data-toggle="modal">เพิ่มข้อมูล</button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table class="table table-bordered tbl_Chick" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="hidden">docId</th>
                                    <th class="col-sm-2 text-center">วันที่สร้าง</th>
                                    <th class="col-sm-ๅ text-center">RunNo.</th>
                                    <th class="col-sm-ๅ text-center">รหัส</th>
                                    <th class="col-sm-2 text-center">ชื่อ</th>
                                    <th class="col-sm-1 text-center">เพศ</th>
                                    <th class="col-sm-1 text-center">วันเกิด</th>
                                    <th class="col-sm-1 text-center">อายุ</th>
                                    <th class="col-sm-1 text-center">สถานะ</th>
                                    <th class="col-sm-2 text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="overlay" style="display:none;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal_Add" style="display: none;">
    <form id="formAdd" class="form-horizontal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">ข้อมูลไก่</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="DocId" class="hidden" readonly />
                    <input type="text" name="OldCode" class="hidden" readonly />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">เกิดจากการ</label>
                        <div class="col-sm-10">
                            <label class="radio-inline"><input type="radio" name="CreateType" value="ผสมพันธุ์" checked>ผสมพันธุ์</label>
                            <label class="radio-inline"><input type="radio" name="CreateType" value="ซื้อ">ซื้อ</label>
                        </div>
                    </div>
                    <div class="byBuy hidden">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">วันที่ซื้อ</label>
                            <div class="col-sm-4"><input type="text" class="form-control" name="BuyDate" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ฟาร์มที่ซื้อ</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="BuyFrom" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">หมายเหตุ</label>
                            <div class="col-sm-10"><textarea class="form-control" rows="4" name="Remark" style="resize:none;"></textarea></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 text-right"><label class="control-label">แผ่นสี</label></div>
                        <div class="col-sm-4">
                            <select class="form-control selectpicker" name="ColorPlate" id="selectColor">
                                <option value="ไม่มีสี">ไม่มีสี</option>
                                <option value="แดง">แดง</option>
                                <option value="เขียว">เขียว</option>
                                <option value="ฟ้า">ฟ้า</option>
                                <option value="ขาว">ขาว</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">RunNo.</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="RunningNo" placeholder="-- สร้างอัติโนมัติ --" readonly /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">รหัสอ้างอิง <label style="color:red">*</label></label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="Code" required /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">ชื่อไก่ <label style="color:red">*</label></label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="Name" required /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">น้ำหนัก</label>
                        <div class=" col-sm-4"><div class="input-group"><input type="number" class="form-control" name="Weight" min="0" step="any" required /><span class="input-group-addon">กก.</span></div></div>
                        <label class="col-sm-2 control-label">ส่วนสูง</label>
                        <div class="col-sm-4"><div class="input-group"><input type="number" class="form-control" name="Height" min="0" step="any" required /><span class="input-group-addon">ซม.</span></div></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">เพศ</label>
                        <div class="col-sm-10">
                            <label class="radio-inline"><input type="radio" name="Sex" value="ผู้" checked>ผู้</label>
                            <label class="radio-inline"><input type="radio" name="Sex" value="เมีย">เมีย</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 text-right"><label class="control-label">สายพันธุ์</label></div>
                        <div class="col-sm-4">
                            <select class="form-control selectpicker" name="Species" id="selectSpecies">
                                <option value="ไก่ไทย(ไก่เชิง)">ไก่ไทย(ไก่เชิง)</option>
                                <option value="พม่า">พม่า</option>
                                <option value="ง่อน">ง่อน</option>
                                <option value="ป่าก๋อย">ป่าก๋อย</option>
                                <option value="พม่าบราซิล">พม่าบราซิล</option>
                                <option value="พม่าญี่ปุ่น">พม่าญี่ปุ่น</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">วันเกิด</label>
                        <div class="col-sm-4"><input type="text" class="form-control" name="BirthDay" required /></div>
                    </div>
                    <div class="byMating">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">พ่อพันธุ์</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control hidden" name="DadId" />
                                <input type="text" class="form-control" name="DadName" placeholder="-- กรุณาเลือก --" style="cursor:pointer" readonly />
                            </div>
                            <label class="col-sm-2 control-label">แม่พันธุ์</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control hidden" name="MomId" />
                                <input type="text" class="form-control" name="MomName" placeholder="-- กรุณาเลือก --" style="cursor:pointer" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <!-- Upload  -->
                            <div class="uploader">
                                <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                                <label for="file-upload" id="file-drag">
                                    <img name="file-image" src="#" alt="Preview" class="hidden">
                                    <div class="start">
                                        <i class="fa fa-cloud-upload " aria-hidden="true"></i>
                                        <div>Select a file</div><br />
                                        <span name="file-upload-btn" class="btn btn-primary">Select a file</span>
                                    </div>
                                    <div class="response hidden">
                                        <progress class="progress file-progress" value="0">
                                            <span>0</span>%
                                        </progress>
                                    </div>
                                </label>
                                <input type="text" class="hidden fileName" name="FileName01" />
                            </div>
                            <div class="form-group text-center"><a href="#" name="btn_ClearPic">ลบ</a></div>
                        </div>
                        <div class="col-sm-4">
                            <!-- Upload  -->
                            <div class="uploader">
                                <input id="file-upload2" type="file" name="fileUpload" accept="image/*" />
                                <label for="file-upload2" id="file-drag">
                                    <img name="file-image" src="#" alt="Preview" class="hidden">
                                    <div class="start">
                                        <i class="fa fa-cloud-upload " aria-hidden="true"></i>
                                        <div>Select a file</div><br />
                                        <span name="file-upload-btn" class="btn btn-primary">Select a file</span>
                                    </div>
                                    <div class="response hidden">
                                        <progress class="progress file-progress" value="0">
                                            <span>0</span>%
                                        </progress>
                                    </div>
                                </label>
                                <input type="text" class="hidden fileName" name="FileName02" />
                            </div>
                            <div class="form-group text-center"><a href="#" name="btn_ClearPic">ลบ</a></div>
                        </div>
                        <div class="col-sm-4">
                            <!-- Upload  -->
                            <div class="uploader">
                                <input id="file-upload3" type="file" name="fileUpload" accept="image/*" />
                                <label for="file-upload3" id="file-drag">
                                    <img name="file-image" src="#" alt="Preview" class="hidden">
                                    <div class="start">
                                        <i class="fa fa-cloud-upload " aria-hidden="true"></i>
                                        <div>Select a file</div><br />
                                        <span name="file-upload-btn" class="btn btn-primary">Select a file</span>
                                    </div>
                                    <div class="response hidden">
                                        <progress class="progress file-progress" value="0">
                                            <span>0</span>%
                                        </progress>
                                    </div>
                                </label>
                                <input type="text" class="hidden fileName" name="FileName03" />
                            </div>
                            <div class="form-group text-center"><a href="#" name="btn_ClearPic">ลบ</a></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" id="mdAdd_btn_Save" class="btn btn-warning"><i class="fa fa-save"></i> บันทึก</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าจอ</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modal_DadMom" style="display: none;">
    <form class="form-horizontal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="hidden" id="mdDadMom_Sex" />
                        <table class="table table-bordered table-hover tbl_DadMom" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="hidden">docId</th>
                                    <th class="col-sm-2 text-center">รหัส</th>
                                    <th class="col-sm-3 text-center">ชื่อ</th>
                                    <th class="col-sm-2 text-center">วันเกิด</th>
                                    <th class="col-sm-1 text-center">อายุ</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าจอ</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modal_Detail" style="display: none;">
    <form id="formFullDetail" class="form-horizontal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียด</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <!-- Upload  -->
                            <div class="uploader">
                                <input id="FullFile-upload" type="file" name="FullFileUpload" disabled accept="image/*" />
                                <label for="FullFile-upload" id="file-drag">
                                    <img name="file-image" src="#" alt="Preview" class="hidden">
                                    <div class="response hidden">
                                        <progress class="progress file-progress" value="0">
                                            <span>0</span>%
                                        </progress>
                                    </div>
                                </label>
                                <input type="text" class="hidden fileName" name="FileName01" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- Upload  -->
                            <div class="uploader">
                                <input id="FullFile-upload2" type="file" name="FullFileUpload" disabled accept="image/*" />
                                <label for="FullFile-upload2" id="file-drag">
                                    <img name="file-image" src="#" alt="Preview" class="hidden">
                                    <div class="response hidden">
                                        <progress class="progress file-progress" value="0">
                                            <span>0</span>%
                                        </progress>
                                    </div>
                                </label>
                                <input type="text" class="hidden fileName" name="FileName02" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- Upload  -->
                            <div class="uploader">
                                <input id="FullFile-upload3" type="file" name="FullFileUpload" disabled accept="image/*" />
                                <label for="FullFile-upload3" id="file-drag">
                                    <img name="file-image" src="#" alt="Preview" class="hidden">
                                    <div class="response hidden">
                                        <progress class="progress file-progress" value="0">
                                            <span>0</span>%
                                        </progress>
                                    </div>
                                </label>
                                <input type="text" class="hidden fileName" name="FileName03" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">แผ่นสี : </label>
                        <label class="col-sm-10 control-label forVal" style="text-align:left" name="FullColorPlate"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">รหัส : </label>
                        <label class="col-sm-10 control-label forVal" style="text-align:left" name="FullCode"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">ชื่อ : </label>
                        <label class="col-sm-10 control-label forVal" style="text-align:left" name="FullName"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">น้ำหนัก : </label>
                        <label class="col-sm-4 control-label forVal" style="text-align:left" name="FullWeight"></label>
                        <label class="col-sm-2 control-label">ส่วนสูง : </label>
                        <label class="col-sm-4 control-label forVal" style="text-align:left" name="FullHeight"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">สายพันธุ์ : </label>
                        <label class="col-sm-10 control-label forVal" style="text-align:left" name="FullSpecies"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">วันเกิด : </label>
                        <label class="col-sm-10 control-label forVal" style="text-align:left" name="FullBirthDay"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">พ่อ : </label>
                        <label class="col-sm-10 control-label forVal" style="text-align:left" name="FullDadName"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">แม่ : </label>
                        <label class="col-sm-10 control-label forVal" style="text-align:left" name="FullMomName"></label>
                    </div>
                    <div class="fullFormBuy">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">วันที่ซื้อ : </label>
                            <label class="col-sm-10 control-label forVal" style="text-align:left" name="FullBuyDate"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ซื้อมาจาก : </label>
                            <label class="col-sm-10 control-label forVal" style="text-align:left" name="FullBuyFrom"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">หมายเหตุ : </label>
                            <label class="col-sm-10 control-label forVal" style="text-align:left" name="FullRemark"></label>
                        </div>
                    </div>
                    <div class="fullStatusSale">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">วันที่ขาย : </label>
                            <label class="col-sm-10 control-label forVal" style="text-align:left" name="FullSoldDate"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ราคาขาย : </label>
                            <label class="col-sm-10 control-label forVal" style="text-align:left" name="FullSoldPrice"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ขายให้กับ : </label>
                            <label class="col-sm-10 control-label forVal" style="text-align:left" name="FullSoldRemark"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <table class="table table-bordered table-hover mdFull_tblVac" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="col-sm-4 text-center">วันที่ฉีด</th>
                                    <th class="col-sm-8 text-center">ชื่อวัคซีน</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <table class="table table-bordered table-hover mdFull_tblFight" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="col-sm-4 text-center">วันที่แข่ง</th>
                                    <th class="col-sm-6 text-center">สถานที่</th>
                                    <th class="col-sm-2 text-center">ผลลัพธ์</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าจอ</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/js/uploadImageOnly.js"></script>
@section Script {
    <script>
        $('.navbar-nav > li').show();

        var chick = {
            api: '/App/ChickenData',
            init: function () {
                var self = this;
                self.event();
                self.loadAll();
            },
            control: {
                container: $('#container'),
                tbl_Chick: $('.tbl_Chick'),
                modal_Add: $('#modal_Add'),
                formAdd: $('#formAdd'),
                DadName: $('[name="DadName"]'),
                MomName: $('[name="MomName"]'),
                tbl_DadMom: $('.tbl_DadMom'),
                modal_DadMom: $('#modal_DadMom'),
                selectSpecies: $('#selectSpecies'),
                selectColor: $('#selectColor'),
                modal_Detail: $('#modal_Detail'),
                mdFull_tblVac: $('.mdFull_tblVac'),
                mdFull_tblFight: $('.mdFull_tblFight'),
                formFullDetail: $('#formFullDetail'),
                fileUpload: $('[name="fileUpload"]'),
                btn_ClearPic: $('[name="btn_ClearPic"]'),
                CreateType: $('[name="CreateType"]'),
                FullFileUpload: $('[name="FullFileUpload"]'),
            },
            event: function () {
                var self = this;
                self.control.modal_Add.on('show.bs.show.bs.modal', function () {
                    var date = moment(new Date()).format('YYYY-MM-DD')
                    self.control.modal_Add.find('[name="BirthDay"]').val(date)
                    if (self.control.formAdd.find('[name="DocId"]').val() != '') {
                        self.load()
                    }
                })
                self.control.modal_Add.on('hide.bs.hide.bs.modal', function () {
                    self.control.formAdd[0].reset()
                    self.changeSelect('ผสมพันธุ์')
                    //self.control.CreateType.val('ผสมพันธุ์').change()
                    var col = self.control.modal_Add
                    self.clearFormUpload(col)
                    self.control.selectSpecies.eq(0).prop('selected', true).change();
                    self.control.selectColor.eq(0).prop('selected', true).change();
                    self.EnableForm()
                })
                self.control.modal_Detail.on('hide.bs.hide.bs.modal', () => {
                    var col = self.control.modal_Detail
                    self.clearFormUpload(col)
                })
                self.control.DadName.on('click', function () {
                    self.control.modal_DadMom.find('.modal-title').text('เลือกพอ่พันธุ์')
                    var sex = 'ผู้'
                    self.control.modal_DadMom.find('#mdDadMom_Sex').val(sex)
                    self.loadDadMom(sex)
                    self.control.modal_DadMom.modal('show')
                })
                self.control.MomName.on('click', function () {
                    self.control.modal_DadMom.find('.modal-title').text('เลือกแม่พันธุ์')
                    var sex = 'เมีย'
                    self.control.modal_DadMom.find('#mdDadMom_Sex').val(sex)
                    self.loadDadMom(sex)
                    self.control.modal_DadMom.modal('show')
                })
                self.control.tbl_DadMom.on('click', 'tr td', function () {
                    var currow = $(this).closest('tr');
                    var id = currow.find('td:eq(0)').text()
                    var name = currow.find('td:eq(2)').text()
                    if (self.control.modal_DadMom.find('#mdDadMom_Sex').val() == 'ผู้') {
                        self.control.modal_Add.find('[name="DadId"]').val(id)
                        self.control.modal_Add.find('[name="DadName"]').val(name)
                    } else if (self.control.modal_DadMom.find('#mdDadMom_Sex').val() == 'เมีย') {
                        self.control.modal_Add.find('[name="MomId"]').val(id)
                        self.control.modal_Add.find('[name="MomName"]').val(name)
                    }
                    self.control.modal_DadMom.modal('hide');
                });
                self.control.formAdd.submit(function (e) {
                    e.preventDefault()
                    if (self.control.formAdd.find('[name="DocId"]').val() != '' && self.control.formAdd.find('[name="OldCode"]').val() == self.control.formAdd.find('[name="Code"]').val()) {
                        self.save()
                    } else {
                        $.get('/App/ChickenData/CheckSameCode/' + self.control.formAdd.find('[name="Code"]').val(), function (res) {
                            console.log(res);
                            if (Boolean(res)) {
                                self.save()
                            } else {
                                swal('รหัสอ้างอิงซ้ำ !','','warning')
                                return
                            }
                        })
                    }
                })
                self.control.tbl_Chick.on('click', '[name="btn_Edit"]', function (e) {
                    var currow = $(e.currentTarget).closest('tr');
                    var id = currow.find('td:eq(0)').text()
                    self.control.formAdd.find('[name="DocId"]').val(id)
                    //console.log(id);
                    self.control.modal_Add.modal('show')
                })
                self.control.tbl_Chick.on('click', '[name="btn_Detail"]', function (e) {
                    var currow = $(e.currentTarget).closest('tr');
                    var id = currow.find('td:eq(0)').text()
                    self.getFullDetail(id)
                })
                self.control.fileUpload.on('change', function (e) {
                    var col = $(e.currentTarget).closest('[class*="col-"]');
                    col.find('.fileName').val($(this).val().split("\\").pop());
                    var filePath = $(e.currentTarget)[0].files[0]
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        col.find('.imgPreview').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(filePath);
                })
                self.control.btn_ClearPic.on('click', function (e) {
                    e.preventDefault()
                    var col = $(e.currentTarget).closest('[class*="col-"]')
                    self.clearFormUpload(col)
                })
                self.control.modal_Detail.on('hide.bs.hide.bs.modal', function () {
                    self.control.formFullDetail.find('.forVal').text('')
                    self.control.mdFull_tblVac.find('tbody tr').remove();
                    self.control.mdFull_tblFight.find('tbody tr').remove();
                })
                self.control.CreateType.on('change', (e) => {
                    //if (self.control.CreateType.val() == 'ซื้อ') {
                    //    self.control.modal_Add.find('.byBuy').removeClass('hidden')
                    //    self.control.modal_Add.find('.byMating').addClass('hidden')
                    //    self.control.formAdd.find('[name="BuyDate"]').val(moment().add(7, 'hours').toISOString().substr(0, 10))
                    //} else {
                    //    self.control.modal_Add.find('.byBuy').addClass('hidden')
                    //    self.control.modal_Add.find('.byMating').removeClass('hidden')
                    //    self.control.formAdd.find('[name="BuyDate"]').val('')
                    //}
                    var docType = $(e.currentTarget).val()
                    self.changeSelect(docType)
                })
            },
            save: function () {
                var self = this;
                self.control.modal_Add.find('.overlay').show()
                $.ajax({
                    url: chick.api + '/Save',
                    method: 'POST',
                    data: {
                        formData: self.control.formAdd.serializeToJSON()
                    },
                    success: function (res) {
                        swal(res, '', 'success').then(() => {
                            setTimeout(() => {
                                self.control.modal_Add.find('.overlay').hide()
                                self.control.modal_Add.modal('hide')
                                self.loadAll()
                            }, 5000)
                        })
                    },
                    error: function (err) { alert('Error : ', err) },
                }).done(function () {
                    
                })
            },
            loadDadMom: function (sex) {
                var self = this;
                self.control.modal_DadMom.find('.overlay').show()
                var table = self.control.tbl_DadMom;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: chick.api + '/GetBySex',
                    method: 'GET',
                    data: {
                        sex: sex
                    },
                    success: function (res) {
                        $.each(res, function (i, e) {
                            var start = new Date(e.BirthDay),
                                end = new Date(),
                                diff = new Date(end - start),
                                days = $.number(diff / 1000 / 60 / 60 / 24, 0),
                                month = $.number(days.replace(/,/g, '') / 31, 0),
                                years = month / 12;
                            month = month - (parseFloat(years.toString().split('.')[0]) * 12)
                            console.log(`Years : ${parseInt(years)} / Month : ${month}`)
                            if (parseInt(years) == 0 && month < 7) {
                                return
                            }
                            table.append(`<tr>
                                                <td class="hidden">${e.DocId}</td>
                                                <td>${e.RunningNo}</td>
                                                <td>${e.Name}</td>
                                                <td class="text-center">${e.BirthDay}</td>
                                                <td class="text-center">${years.toString().split('.')[0]} ปี ${$.number(month)} เดือน</td>
                                              </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[1, "asc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "lengthMenu": "แสดง _MENU_ รายการ",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            },
                        }
                    });
                    self.control.modal_DadMom.find('.overlay').hide();
                });
            },
            load: function () {
                var self = this;
                self.control.modal_Add.find('.overlay').show()
                $.ajax({
                    url: chick.api + '/GetById',
                    method: 'GET',
                    data: {
                        docId: self.control.formAdd.find('[name="DocId"]').val()
                    },
                    success: function (res) {
                        self.changeSelect(res.CreateType)
                        self.control.formAdd.dejsonify(res)
                        self.control.selectSpecies.val(res.Species).change();
                        self.control.selectColor.val(res.ColorPlate).change();
                        self.control.formAdd.find('[name="OldCode"]').val(res.Code)
                        var fileName = [res.FileName01, res.FileName02, res.FileName03];
                        var path = self.control.fileUpload;
                        $.each(path, function (i, e) {
                            if (fileName[i] == '' || fileName[i] == null || fileName[i] == undefined) {
                                return
                            } else {
                                self.loadPic(e, fileName[i])
                            }
                        })
                        if (res.Status == 'Alive') {
                            self.EnableForm()
                        } else {
                            self.DisabledForm()
                        }
                    },
                }).done(function () {
                    self.control.modal_Add.find('.overlay').hide();
                });
            },
            loadAll: function () {
                var self = this;
                self.control.container.find('.overlay').show()
                var table = self.control.tbl_Chick;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: chick.api + '/List',
                    method: 'GET',
                    success: function (res) {
                        $.each(res, function (i, e) {
                            var start = new Date(e.BirthDay),
                                end = new Date(),
                                diff = new Date(end - start),
                                days = $.number(diff / 1000 / 60 / 60 / 24, 0),
                                month = $.number(days.replace(/,/g, '') / 31, 0),
                                years = month / 12;
                            month = month - (parseFloat(years.toString().split('.')[0]) * 12)
                            //console.log(`ปี : ${years} / เดือน : ${month} / วัน : ${days}`)
                            table.append(`<tr>
                                                    <td class="hidden">${e.DocId}</td>
                                                    <td class="text-center">${e.CreateDate.substr(0, 10)}${e.CreateDate.substr(11, 5)}</td>
                                                    <td>${e.RunningNo}</td>
                                                    <td>${e.Code}</td>
                                                    <td>${e.Name}</td>
                                                    <td class="text-center">${e.Sex}</td>
                                                    <td class="text-center">${e.BirthDay}</td>
                                                    <td class="text-center">${years.toString().split('.')[0]} ปี ${$.number(month)} เดือน</td>
                                                    <td class="text-center">${e.Status_Th}</td>
                                                    <td class="text-center">
                                                        <button class="btn btn-sm btn-default" name="btn_Detail">
                                                            รายละเอียด
                                                        </button>
                                                        <button class="btn btn-sm btn-info" name="btn_Edit">
                                                            แก้ไข
                                                        </button>
                                                    </td>
                                                  </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[1, "desc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "lengthMenu": "แสดง _MENU_ รายการ",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            },
                        }
                    });
                    self.control.container.find('.overlay').hide();
                });
            },
            getFullDetail: function (id) {
                var self = this
                self.control.modal_Detail.modal('show')
                self.control.modal_Detail.find('.overlay').show()
                $.ajax({
                    url: chick.api + '/GetFullDetail',
                    method: 'GET',
                    data: {
                        docId: id
                    },
                    success: function (res) {
                        var fileName = [res.Chick.FileName01, res.Chick.FileName02, res.Chick.FileName03];
                        var path = self.control.FullFileUpload;
                        $.each(path, function (i, e) {
                            if (fileName[i] == '' || fileName[i] == null || fileName[i] == undefined) {
                                return
                            } else {
                                self.loadPic(e, fileName[i])
                            }
                        })
                        self.control.formFullDetail.find('[name="FullColorPlate"]').text(res.Chick.ColorPlate)
                        self.control.formFullDetail.find('[name="FullCode"]').text(res.Chick.Code)
                        self.control.formFullDetail.find('[name="FullName"]').text(res.Chick.Name)
                        self.control.formFullDetail.find('[name="FullWeight"]').text(res.Chick.Weight + ' กก.')
                        self.control.formFullDetail.find('[name="FullHeight"]').text(res.Chick.Height + ' ซม.')
                        self.control.formFullDetail.find('[name="FullSpecies"]').text(res.Chick.Species)
                        self.control.formFullDetail.find('[name="FullBirthDay"]').text(res.Chick.BirthDay)
                        self.control.formFullDetail.find('[name="FullDadName"]').text(res.Chick.DadName)
                        self.control.formFullDetail.find('[name="FullMomName"]').text(res.Chick.MomName)
                        self.control.formFullDetail.find('[name="FullBuyDate"]').text(res.Chick.BuyDate)
                        self.control.formFullDetail.find('[name="FullBuyFrom"]').text(res.Chick.BuyFrom)
                        self.control.formFullDetail.find('[name="FullRemark"]').text(res.Chick.Remark)

                        self.control.formFullDetail.find('[name="FullSoldDate"]').text(res.Chick.SoldDate)
                        self.control.formFullDetail.find('[name="FullSoldPrice"]').text($.number(res.Chick.SoldPrice, 2) + ' บาท')
                        self.control.formFullDetail.find('[name="FullSoldRemark"]').text(res.Chick.SoldRemark)
                        $.each(res.Vaccinations, function (i, e) {
                            var table = self.control.mdFull_tblVac
                            table.append(`<tr>
                                            <td>${e.Data.VaccinationDate}</td>
                                            <td>${e.Data.VcName}</td>
                                          </tr>`)
                        })
                        $.each(res.Fighting, function (i, e) {
                            var table = self.control.mdFull_tblFight
                            var thResult = ''
                            switch (e.Result) {

                                case ('Win'):
                                    thResult = 'ชนะ'
                                    break
                                case ('Lose'):
                                    thResult = 'แพ้'
                                    break
                                case ('Draw'):
                                    thResult = 'เสมอ'
                                    break
                            }
                            table.append(`<tr>
                                                        <td>${e.FightingDate}</td>
                                                        <td>${e.Location}</td>
                                                        <td class="text-center">${thResult}</td>
                                                      </tr>`)
                        })
                        if (res.Chick.CreateType == 'ซื้อ') {
                            self.control.formFullDetail.find('.fullFormBuy').removeClass('hidden')
                        } else {
                            self.control.formFullDetail.find('.fullFormBuy').addClass('hidden')
                        }
                        if (res.Chick.Status == 'Sale') {
                            self.control.formFullDetail.find('.fullStatusSale').removeClass('hidden')
                        } else {
                            self.control.formFullDetail.find('.fullStatusSale').addClass('hidden')
                        }
                    },
                }).done(function () {
                    self.control.modal_Detail.find('.overlay').hide()
                });
            },
            clearFormUpload: function (col) {
                var self = this
                //console.log(col)
                col.find('.start').removeClass("hidden")
                col.find('.response').addClass("hidden")
                col.find('[name="file-image"]').addClass("hidden")
                col.find('[name="file-image"]').attr('src', '')
                col.find('[name="fileName"]').val('')
                col.find('[name="fileUpload"]').val('')
                col.find('.fileName').val('')
            },
            loadPic: function (element, fileName) {
                var self = this
                $.ajax({
                    url: '/App/ChickenData/GetUrlPic',
                    method: 'GET',
                    data: {
                        fileName: fileName
                    },
                    success: function (res) {
                        var col = $(element).closest('[class*="col-"]')
                        col.find('.response').removeClass("hidden");
                        col.find('.start').addClass("hidden");
                        col.find('[name="file-image"]').removeClass("hidden");
                        col.find('[name="file-image"]').attr('src', res)
                    },
                    error: function (err) { console.log('Error : ' + err) },
                });
            },
            changeSelect: function (docType) {
                var self = this
                if (docType == 'ซื้อ') {
                    self.control.modal_Add.find('.byBuy').removeClass('hidden')
                    self.control.modal_Add.find('.byMating').addClass('hidden')
                    self.control.formAdd.find('[name="BuyDate"]').val(moment().add(7, 'hours').toISOString().substr(0, 10))
                } else {
                    self.control.modal_Add.find('.byBuy').addClass('hidden')
                    self.control.modal_Add.find('.byMating').removeClass('hidden')
                    self.control.formAdd.find('[name="BuyDate"]').val('')
                }
            },
            EnableForm: function () {
                var self = this
                self.control.formAdd.find('input').prop('disabled', false)
                self.control.formAdd.find('textarea').prop('disabled', false)
                self.control.formAdd.find('select').prop('disabled', false)
                self.control.formAdd.find('#mdAdd_btn_Save').prop('disabled', false)
            },
            DisabledForm: function () {
                var self = this
                self.control.formAdd.find('input').prop('disabled', true)
                self.control.formAdd.find('textarea').prop('disabled', true)
                self.control.formAdd.find('select').prop('disabled', true)
                self.control.formAdd.find('#mdAdd_btn_Save').prop('disabled', true)
            },
        }

        $(function () {
            chick.init();
            $('[name="BirthDay"]').datetimepicker({ format: 'YYYY-MM-DD' });
            $('[name="BuyDate"]').datetimepicker({ format: 'YYYY-MM-DD' });
        });
    </script>
}