﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "ข้อมูลการผสมพันธุ์";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Mating.cshtml";
}

<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @@media (min-width: 768px) {
        .flex-row {
            display: flex;
            flex-wrap: wrap;
        }
    }

    [class*='col-'] {
        margin-bottom: 10px;
    }

        [class*='col-'] .box {
            height: 100%;
            min-height: 150px;
        }

    /*.add-project .box {
        user-select: none;
        cursor: pointer;
        display: table;
    }

        .add-project .box .box-body {
            display: table-cell;
            width: 100%;
            height: 100%;
            padding: 10px;
            vertical-align: middle;
        }*/

    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }

    [hidden] {
        display: none !important;
    }
</style>

<section class="content" style="min-height: 0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>การผสมพันธุ์</h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-12" style="padding: 0">
                        <div class="col-sm-offset-10 col-sm-2">
                            <button class="btn btn-warning form-control" data-target="#modal_Add" data-toggle="modal">เพิ่มข้อมูล</button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table class="table table-bordered tbl_Mating" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="hidden">docId</th>
                                    <th class="col-sm-2 text-center">วันที่ผสมพันธุ์</th>
                                    <th class="col-sm-4 text-center">พ่อพันธุ์</th>
                                    <th class="col-sm-4 text-center">แม่พันธุ์</th>
                                    <th class="col-sm-1 text-center">ลูก</th>
                                    <th class="col-sm-1 text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="overlay" style="display:none;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal_Add" style="display: none;">
    <form id="formAdd" class="form-horizontal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียด</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="DocId" class="hidden" readonly />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">วันที่ผสมพันธุ์ <label style="color:red">*</label></label>
                        <div class="col-sm-4"><input type="text" class="form-control" name="MatingDate" readonly required /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">พ่อพันธุ์ <label style="color:red">*</label></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control hidden" name="CockId" />
                            <input type="text" class="form-control" name="CockName" placeholder="-- กรุณาเลือก --" style="cursor:pointer" readonly required />
                        </div>
                        <label class="col-sm-2 control-label">แม่พันธุ์ <label style="color:red">*</label></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control hidden" name="HenId" />
                            <input type="text" class="form-control" name="HenName" placeholder="-- กรุณาเลือก --" style="cursor:pointer" readonly required />
                        </div>
                    </div>
                    <div class="well well-lg">
                        <div class="form-group">
                            <label class="col-sm-2"><u>ข้อมูลลูก</u></label>
                            <div class="col-sm-3"><button type="button" class="btn btn-warning hidden" id="btn_AddChild" data-toggle="modal" data-target="#modal_AddChild"><i class="fa fa-plus"></i> เพิ่มข้อมูล</button></div>
                            <table class="table table-bordered tbl_Chick">
                                <thead>
                                    <tr>
                                        <th class="hidden">DocId</th>
                                        <th class="col-sm-6 text-center">รหัส</th>
                                        <th class="col-sm-6 text-center">ชื่อ</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <button type="button" id="mdAdd_btn_Inactive" class="btn btn-danger pull-left hidden">ยกเลิกข้อมูล</button>
                    <button type="button" id="mdAdd_btn_Result" class="btn btn-warning hidden">ผลการผสมพันธุ์</button>
                    <button type="submit" id="mdAdd_btn_Save" class="btn btn-warning"><i class="fa fa-save"></i> บันทึก</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าจอ</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modal_AddChild" style="display: none;">
    <form id="formAddChild" class="form-horizontal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">เพิ่มข้อมูลลูกไก่</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-2 text-right"><label class="control-label">แผ่นสี</label></div>
                        <div class="col-sm-4">
                            <select class="form-control selectpicker" name="ColorPlate" id="selectColor">
                                <option value="ไม่มีสี">ไม่มีสี</option>
                                <option value="แดง">แดง</option>
                                <option value="เขียว">เขียว</option>
                                <option value="ฟ้า">ฟ้า</option>
                                <option value="ขาว">ขาว</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">รหัส <label style="color:red">*</label></label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="Code" required /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">ชื่อ <label style="color:red">*</label></label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="Name" required /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">เพศ <label style="color:red">*</label></label>
                        <div class="col-sm-10">
                            <label class="radio-inline"><input type="radio" name="Sex" value="ผู้" checked>ผู้</label>
                            <label class="radio-inline"><input type="radio" name="Sex" value="เมีย">เมีย</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">วันเกิด <label style="color:red">*</label></label>
                        <div class="col-sm-4"><input type="text" class="form-control" name="BirthDay" required /></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 text-right"><label class="control-label">สายพันธุ์ <label style="color:red">*</label></label></div>
                        <div class="col-sm-4">
                            <select class="form-control selectpicker" name="Species" id="selectSpecies">
                                <option value="ไก่ไทย(ไก่เชิง)">ไก่ไทย(ไก่เชิง)</option>
                                <option value="พม่า">พม่า</option>
                                <option value="ง่อน">ง่อน</option>
                                <option value="ป่าก๋อย">ป่าก๋อย</option>
                                <option value="พม่าบราซิล">พม่าบราซิล</option>
                                <option value="พม่าญี่ปุ่น">พม่าญี่ปุ่น</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group hidden">
                        <input type="text" class="form-control" name="DadId" />
                        <input type="text" class="form-control" name="DadName" />
                        <input type="text" class="form-control" name="MomId" />
                        <input type="text" class="form-control" name="MomName" />
                        <input type="text" class="form-control" name="Status" />
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าจอ</button>
                    <button type="submit" class="btn btn-warning"><i class="fa fa-save"></i> บันทึก</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modal_DadMom" style="display: none;">
    <form class="form-horizontal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="hidden" id="mdDadMom_Sex" />
                        <table class="table table-bordered table-hover tbl_DadMom" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="hidden">docId</th>
                                    <th class="col-sm-2 text-center">รหัส</th>
                                    <th class="col-sm-6 text-center">ชื่อ</th>
                                    <th class="col-sm-2 text-center">วันเกิด</th>
                                    <th class="col-sm-1 text-center">อายุ</th>
                                    <th class="col-sm-1 text-center">สภาพ</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าจอ</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

@section Script {
    <script>
        $('.navbar-nav > li').show();

        var mating = {
            api: '/App/Mating',
            init: function () {
                var self = this;
                self.event();
                self.loadAll();
            },
            control: {
                container: $('#container'),
                modal_Add: $('#modal_Add'),
                formAdd: $('#formAdd'),
                tbl_Mating: $('.tbl_Mating'),
                tbl_Chick: $('.tbl_Chick'),
                mdAdd_btn_Inactive: $('#mdAdd_btn_Inactive'),
                mdAdd_btn_Result: $('#mdAdd_btn_Result'),
                mdAdd_btn_Save: $('#mdAdd_btn_Save'),
                tbl_DadMom: $('.tbl_DadMom'),
                modal_DadMom: $('#modal_DadMom'),
                CockName: $('[name="CockName"]'),
                HenName: $('[name="HenName"]'),
                btn_AddChild: $('#btn_AddChild'),
                modal_AddChild: $('#modal_AddChild'),
                formAddChild: $('#formAddChild'),
                selectSpecies: $('#selectSpecies'),
                selectColor: $('#selectColor'),
            },
            event: function () {
                var self = this;
                self.control.modal_Add.on('show.bs.show.bs.modal', function () {
                    if (self.control.formAdd.find('[name="DocId"]').val() != '') {
                        self.control.mdAdd_btn_Inactive.removeClass('hidden')
                        self.control.mdAdd_btn_Result.removeClass('hidden')
                        self.control.modal_Add.find('.well').removeClass('hidden')
                        self.load()
                    } else {
                        var date = moment(new Date()).format('YYYY-MM-DD')
                        self.control.modal_Add.find('[name="MatingDate"]').val(date)
                        self.control.modal_Add.find('.well').addClass('hidden')
                        self.enabled()
                        self.control.mdAdd_btn_Inactive.addClass('hidden')
                        self.control.mdAdd_btn_Result.addClass('hidden')
                    }
                })
                self.control.mdAdd_btn_Inactive.on('click', function () {
                    self.delete()
                })
                self.control.modal_Add.on('hide.bs.hide.bs.modal', function () {
                    self.control.formAdd[0].reset()
                    self.control.mdAdd_btn_Inactive.addClass('hidden')
                    self.control.mdAdd_btn_Result.addClass('hidden')
                    self.control.btn_AddChild.addClass('hidden')
                    self.control.tbl_Chick.find('tbody tr').remove();
                    self.loadAll()
                })
                self.control.formAdd.submit(function (e) {
                    e.preventDefault()
                    self.save()
                })
                self.control.CockName.on('click', function () {
                    self.control.modal_DadMom.find('.modal-title').text('เลือกพ่อพันธุ์')
                    var sex = 'ผู้'
                    self.control.modal_DadMom.find('#mdDadMom_Sex').val(sex)
                    self.loadDadMom(sex)
                    self.control.modal_DadMom.modal('show')
                })
                self.control.HenName.on('click', function () {
                    self.control.modal_DadMom.find('.modal-title').text('เลือกแม่พันธุ์')
                    var sex = 'เมีย'
                    self.control.modal_DadMom.find('#mdDadMom_Sex').val(sex)
                    self.loadDadMom(sex)
                    self.control.modal_DadMom.modal('show')
                })
                self.control.tbl_DadMom.on('click', 'tr td', function () {
                    var currow = $(this).closest('tr');
                    var id = currow.find('td:eq(0)').text()
                    var name = currow.find('td:eq(2)').text()
                    var canMat = currow.find('td:eq(5)').text()
                    if (self.control.modal_DadMom.find('#mdDadMom_Sex').val() == 'ผู้') {
                        self.control.modal_Add.find('[name="CockId"]').val(id)
                        self.control.modal_Add.find('[name="CockName"]').val(name)
                        self.control.modal_DadMom.modal('hide');
                    } else if (self.control.modal_DadMom.find('#mdDadMom_Sex').val() == 'เมีย') {
                        if (canMat == 'ไม่พร้อม') {
                            swal('ไก่อยู่ในสภาพไม่พร้อมผสมพันธุ์ !', '', 'warning')
                            return
                        } else {
                            self.control.modal_Add.find('[name="HenId"]').val(id)
                            self.control.modal_Add.find('[name="HenName"]').val(name)
                            self.control.modal_DadMom.modal('hide');
                        }
                    }
                })
                self.control.tbl_Mating.on('click', '[name="btn_Edit"]', function (e) {
                    var currow = $(e.currentTarget).closest('tr');
                    var id = currow.find('td:eq(0)').text()
                    self.control.formAdd.find('[name="DocId"]').val(id)
                    self.control.modal_Add.modal('show')
                })
                self.control.modal_AddChild.on('show.bs.show.bs.modal', function () {
                    var form = self.control.modal_Add
                    var child = self.control.modal_AddChild
                    child.find('[name="DadId"]').val(form.find('[name="CockId"]').val())
                    child.find('[name="DadName"]').val(form.find('[name="CockName"]').val())
                    child.find('[name="MomId"]').val(form.find('[name="HenId"]').val())
                    child.find('[name="MomName"]').val(form.find('[name="HenName"]').val())
                    child.find('[name="Status"]').val('Alive/มีชีวิต')
                    child.find('[name="BirthDay"]').val(moment(new Date()).format('YYYY-MM-DD'))
                })
                self.control.modal_AddChild.on('hide.bs.hide.bs.modal', function () {
                    self.control.formAddChild[0].reset()
                    self.control.selectColor.eq(0).prop('selected', true).change();
                    self.control.selectSpecies.eq(0).prop('selected', true).change();
                })
                self.control.mdAdd_btn_Result.on('click', function () {
                    self.control.btn_AddChild.removeClass('hidden')
                    self.control.mdAdd_btn_Inactive.addClass('hidden')
                    self.control.mdAdd_btn_Result.addClass('hidden')
                    self.control.mdAdd_btn_Save.addClass('hidden')
                })
                self.control.formAddChild.submit(function (e) {
                    e.preventDefault()
                    self.saveChild()
                })
            },
            save: function () {
                var self = this;
                self.control.modal_Add.find('.overlay').show()
                $.ajax({
                    url: mating.api + '/Save',
                    method: 'POST',
                    data: {
                        formData: self.control.formAdd.serializeToJSON()
                    },
                    success: function (res) {
                        swal(res, '', 'success')
                    },
                    error: function (err) { swal(err, '', 'error') },
                }).done(function () {
                    self.control.modal_Add.find('.overlay').hide()
                    self.control.modal_Add.modal('hide')
                })
            },
            saveChild: function () {
                var self = this;
                self.control.modal_AddChild.find('.overlay').show()
                $.ajax({
                    url: mating.api + '/SaveChild',
                    method: 'POST',
                    data: {
                        formData: self.control.formAddChild.serializeToJSON(),
                        docId: self.control.formAdd.find('[name="DocId"]').val()
                    },
                    success: function (res) {
                        var data = self.control.formAddChild.serializeToJSON()
                        self.control.tbl_Chick.append(`<tr><td class="hidden">${res}</td><td>${data.Code}</td><td>${data.Name}</td></tr>`)
                    },
                    error: function (err) { swal(err, '', 'error') },
                }).done(function () {
                    self.control.modal_AddChild.find('.overlay').hide()
                    self.control.modal_AddChild.modal('hide')
                })
            },
            load: function () {
                var self = this;
                self.control.modal_Add.find('.overlay').show()
                $.ajax({
                    url: mating.api + '/GetById',
                    method: 'GET',
                    data: {
                        docId: self.control.formAdd.find('[name="DocId"]').val()
                    },
                    success: function (res) {
                        self.control.formAdd.dejsonify(res.Data)
                        $.each(res.Chicks, function (i, e) {
                            self.control.tbl_Chick.append(`<tr><td class="hidden">${e.DocId}</td><td>${e.Code}</td><td>${e.Name}</td></tr>`)
                        })
                        if (res.Chicks.length == 0) {
                            self.newLoadEnorDis()
                        } else {
                            self.disabled()
                        }
                    },
                }).done(function () {
                    self.control.modal_Add.find('.overlay').hide();
                });
            },
            loadAll: function () {
                var self = this;
                self.control.container.find('.overlay').show()
                var table = self.control.tbl_Mating;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: mating.api + '/List',
                    method: 'GET',
                    success: function (res) {
                        $.each(res, function (i, e) {
                            table.append(`<tr>
                                            <td class="hidden">${e.DocId}</td>
                                            <td>${e.MatingDate}</td>
                                            <td>${e.CockName}</td>
                                            <td>${e.HenName}</td>
                                            <td>${e.Chicks.length}</td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-info" name="btn_Edit">
                                                    แก้ไข
                                                </button>
                                            </td>
                                          </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[1, "asc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "lengthMenu": "แสดง _MENU_ รายการ",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            },
                        }
                    });
                    self.control.container.find('.overlay').hide();
                });
            },
            delete: function () {
                var self = this;
                self.control.modal_Add.find('.overlay').show()
                $.ajax({
                    url: mating.api + '/Delete',
                    method: 'POST',
                    data: {
                        docId: self.control.formAdd.find('[name="DocId"]').val()
                    },
                    success: function (res) {
                        swal(res, '', 'success')
                    },
                    error: function (err) { swal(err, '', 'error') },
                }).done(function () {
                    self.control.modal_Add.find('.overlay').hide()
                    self.control.modal_Add.modal('hide')
                })
            },
            loadDadMom: function (sex) {
                var self = this;
                self.control.modal_DadMom.find('.overlay').show()
                var table = self.control.tbl_DadMom;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: '/App/ChickenData/GetBySex',
                    method: 'GET',
                    data: {
                        sex: sex
                    },
                    success: function (res) {
                        $.each(res, function (i, e) {
                            var start = new Date(e.BirthDay),
                                end = new Date(),
                                diff = new Date(end - start),
                                days = $.number(diff / 1000 / 60 / 60 / 24, 0),
                                month = $.number(days / 31, 0),
                                years = month / 12,
                                nextMat = new Date(e.NextMating),
                                diffMat = new Date(end - nextMat),
                                calMat = $.number(diffMat / 1000 / 60 / 60 / 24, 0);
                            month = month - (parseFloat(years.toString().split('.')[0]) * 12)
                            console.log(`Years : ${parseInt(years)} / Month : ${month}`)
                            if (parseInt(years) == 0 && month < 7) {
                                return
                            }
                            console.log(calMat);
                            var canMat = 'ไม่พร้อม'
                            if (calMat >= 0) {
                                canMat = 'พร้อม'
                            }
                            if (e.Sex == 'ผู้') {
                                canMat = 'พร้อม'
                            }
                            table.append(`<tr>
                                            <td class="hidden">${e.DocId}</td>
                                            <td>${e.RunningNo}</td>
                                            <td>${e.Name}</td>
                                            <td class="text-center">${e.BirthDay}</td>
                                            <td class="text-center">${years.toString().split('.')[0]} ปี ${$.number(month)} เดือน</td>
                                            <td class="text-center">${canMat}</td>
                                          </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[1, "asc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "lengthMenu": "แสดง _MENU_ รายการ",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            },
                        }
                    });
                    self.control.modal_DadMom.find('.overlay').hide();
                });
            },
            enabled: function () {
                var self = this;
                self.control.mdAdd_btn_Inactive.removeClass('hidden')
                self.control.mdAdd_btn_Result.removeClass('hidden')
                self.control.mdAdd_btn_Save.removeClass('hidden')
                self.control.formAdd.find('input').prop('disabled', false);
            },
            disabled: function () {
                var self = this;
                self.control.mdAdd_btn_Inactive.addClass('hidden')
                self.control.mdAdd_btn_Result.addClass('hidden')
                self.control.mdAdd_btn_Save.addClass('hidden')
                self.control.btn_AddChild.addClass('hidden')
                self.control.formAdd.find('input').prop('disabled', true);
            },
            newLoadEnorDis: function () {
                var self = this;
                self.control.mdAdd_btn_Inactive.removeClass('hidden')
                self.control.mdAdd_btn_Result.removeClass('hidden')
                self.control.mdAdd_btn_Save.addClass('hidden')
                self.control.formAdd.find('input').prop('disabled', true);
            },
        }

        $(function () {
            mating.init();
            $('[name="MatingDate"]').datetimepicker({ format: 'YYYY-MM-DD' });
            $('[name="BirthDay"]').datetimepicker({ format: 'YYYY-MM-DD' });
        });
    </script>
}