﻿
@{
    ViewData["Title"] = "Login";
    ViewData["sidebar"] = "~/Views/Shared/sb_Index.cshtml";
    Layout = "~/Views/Shared/_LayoutAuthen.cshtml";
}

<section class="content" style="min-height:0px;">
    <div class="row">
        <div class="lockscreen-logo">
            <h1><b>ระบบสนับสนุนการจำแนกเกรดไก่ชน</b></h1>
        </div><br /><br />
        <form id="formAncientLogin" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-2">
                    <label for="usr">ชื่อผู้ใช้งาน :</label>
                    <input type="text" class="form-control" id="usr" name="Username" required><br />
                    <label for="pwd">รหัสผ่าน :</label>
                    <input type="password" class="form-control" id="pwd" name="Password" required><br />
                    <button type="submit" class="btn btn-sm btn-warning form-control">เข้าสู่ระบบ</button>
                    <button type="button" class="btn btn-sm btn-link" data-target="#modalRegister" data-toggle="modal">ลงทะเบียน</button>
                </div>
                <div class="col-sm-3 text-center" style="margin-left:3%">
                    <label>หรือเข้าใช้งานด้วย</label>
                    <div id="firebaseui-auth-container">
                    </div>
                </div>
            </div>
        </form>


        <!-- START LOCK SCREEN ITEM -->
        
        <div style="display:none;" id="AuthForm">
            <input name="authType" />
            <input name="accessToken" />
            <button type="button" id="btn_login"></button>
        </div>
        <form style="display:none;" method="post" action="~/Account/TwoStepFactor" id="AuthFormMFA">
            <input name="authType" />
            <input name="accessToken" />
            <input name="displayName" />
            <input name="message" />
        </form>
    </div>
</section>

<div class="modal fade" id="modalRegister" style="display: none;">
    <form id="formRegister" class="form-horizontal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">ลงทะเบียน</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">ชื่อผู้ใช้งาน : <label style="color:red">*</label></label>
                        <div class="col-sm-9"><input type="text" class="form-control" name="Username" pattern="(?=.*[a-z]).{1,}" title="ใส่ได้เฉพาะ A-Z, a-z และ 0-9 เท่านั้น" required /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">รหัสผ่าน : <label style="color:red">*</label></label>
                        <div class="col-sm-9"><input type="password" class="form-control" name="Password" pattern="[A-Za-z0-9]{8,}" title="ใส่ได้เฉพาะ A-Z, a-z, 0-9 และต้องมีความยาว 8 ตัวอักษรขึ้นไป" required /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">อีเมล : <label style="color:red">*</label></label>
                        <div class="col-sm-9"><input type="text" class="form-control" name="Email" required/></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">ชื่อ : <label style="color:red">*</label></label>
                        <div class="col-sm-9"><input type="text" class="form-control" name="Name" required/></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">เบอร์โทรศัพท์ :</label>
                        <div class="col-sm-9"><input type="text" class="form-control" name="PhoneNo" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">ที่อยู่ :</label>
                        <div class="col-sm-9"><textarea class="form-control" rows="4" style="resize:none" name="Address"></textarea></div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-warning"><i class="fa fa-save"></i> บันทึก</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าจอ</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

@section Script {
    <script type="text/javascript">
        $('.sidebar-menu > li').hide();
        if ('@Model' != '') {
            $('#@Model').modal('show')
        }

        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBAC6eY-RUHkr651jBmgfRFPBUZL2jN9Z8",
            authDomain: "gamecockgrading.firebaseapp.com",
            databaseURL: "https://gamecockgrading.firebaseio.com",
            projectId: "gamecockgrading",
            storageBucket: "gamecockgrading.appspot.com",
            messagingSenderId: "261739381842",
        };
        firebase.initializeApp(config);
        // FirebaseUI config.
        var uiConfig = {
            callbacks: {
                signInSuccess: function (currentUser, credential, redirectUrl) {
                    try {
                        var form = $("#AuthForm");
                        var authType = currentUser.providerData[0].providerId;
                        var accessToken = credential.accessToken;
                        $("#AuthForm").find('[name=authType]').val(authType);
                        $("#AuthForm").find('[name=accessToken]').val(accessToken);

                        $("#btn_login").click();
                        //console.log("AuthType : " + authType + "\n" + "AccesToken : " + accessToken);
                    } catch (e) {
                        return true;
                    }
                    return false;
                }
            },
            credentialHelper: firebaseui.auth.CredentialHelper.ACCOUNT_CHOOSER_COM,
            // Query parameter name for sign in success url.
            signInSuccessUrl: 'Account/Login',
            signInOptions: [
                // Leave the lines as is for the providers you want to offer your users.
                firebase.auth.GoogleAuthProvider.PROVIDER_ID
            ],
        };
        var ui = new firebaseui.auth.AuthUI(firebase.auth());
        // The start method will wait until the DOM is loaded.
        ui.start('#firebaseui-auth-container', uiConfig);

        $(function () {
            $("#btn_login").on('click', function (e) {
                e.preventDefault();
                //var data = $(this).serialize();
                var data = {};
                data['authType'] = $('[name=authType]').val();
                data['accessToken'] = $('[name=accessToken]').val();
                $.ajax({
                    url: '/Account/Login',
                    method: "POST",
                    data: data,
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (res) {
                        console.log(res);
                        if (res.status == false) {
                            console.log('false');
                            $('#modalAlreadyRegis').find('.user-email').text(res.email)
                            $('#modalAlreadyRegis').modal('show')
                        } else {
                            window.location.href = "/App/Index";
                        }
                    }
                });

            });


            $('#modalAlreadyRegis').on('hide.bs.hide.bs.modal', function () {
                location.reload()
            })
        })

        $('#formAncientLogin').submit((e) => {
            e.preventDefault()
            var formData = $('#formAncientLogin').serializeToJSON()
            $.ajax({
                url: '/App/Security/AncientLogin',
                method: 'POST',
                data: {
                    username: formData.Username,
                    password: formData.Password
                },
                success: function (res) {
                    if (res == null) {
                        swal('ไม่พบข้อมูลผู้ใช้งานนี้ !', 'ชื่อผู้ใช้งานหรือรหัสผ่านผิดพลาด', 'error').then(() => {
                            $('#formAncientLogin').find('[name="Username"]').focus()
                            return
                        })
                    } else {
                        window.location.href = "/App/Index"
                    }
                }
            })
        })

        $('#modalRegister').on('hide.bs.hide.bs.modal', () => {
            $('#formRegister')[0].reset()
        })

        $('#formRegister').submit((e) => {
            e.preventDefault()
            $.ajax({
                url: '/App/Security/CheckUsername',
                method: 'GET',
                data: {
                    username: $('#formRegister').find('[name="Username"]').val()
                },
                success: function (res) {
                    if (res != null) {
                        swal('ชื่อผู้ใช้งานนี้มีผู้ใช้แล้ว !', '', 'warning').then(() => {
                            $('#formRegister').find('[name="Username"]').focus()
                            return
                        })
                    } else {
                        $.ajax({
                            url: '/App/Security/CheckEmail',
                            method: 'GET',
                            data: {
                                email: $('#formRegister').find('[name="Email"]').val()
                            },
                            success: function (res) {
                                if (res != null) {
                                    swal('อีเมลนี้มีผู้ใช้แล้ว !', '', 'warning').then(() => {
                                        $('#formRegister').find('[name="Email"]').focus()
                                        return
                                    })
                                } else {
                                    $.ajax({
                                        url: '/App/Security/Register',
                                        method: 'POST',
                                        data: {
                                            formData: $('#formRegister').serializeToJSON()
                                        },
                                        success: function (res) {
                                            swal(res, '', 'success').then(() => {
                                                $('#modalRegister').modal('hide')
                                            })
                                        }
                                    })
                                }
                            }
                        })
                    }
                },
                error: function (err) { swal(err, '', 'error') },
            }).done(function () {
            })
        })
    </script>
}

