﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "ข้อมูลวัคซีน";
    var role = Context.Session.GetString("Role");
    ViewData["sidebar"] = "~/Views/Shared/" + role + "/sb_Vaccination.cshtml";
}

<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @@media (min-width: 768px) {
        .flex-row {
            display: flex;
            flex-wrap: wrap;
        }
    }

    [class*='col-'] {
        margin-bottom: 10px;
    }

        [class*='col-'] .box {
            height: 100%;
            min-height: 150px;
        }

    /*.add-project .box {
        user-select: none;
        cursor: pointer;
        display: table;
    }

        .add-project .box .box-body {
            display: table-cell;
            width: 100%;
            height: 100%;
            padding: 10px;
            vertical-align: middle;
        }*/

    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(139,139,139);
        background-color: rgba(139,139,139, 0.5);
        transition: 0.5s;
        font-size: 500%;
        text-align: center;
        padding-top: 2%;
        padding-right: 2%;
    }

    [hidden] {
        display: none !important;
    }
</style>

<section class="content" style="min-height: 0px;">
    <div class="row">
        <div class="col-md-12" id="container">
            <div class="box">
                <div class="box-header">
                    <h3>ข้อมูลวัคซีน</h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-12" style="padding: 0">
                        <div class="col-sm-offset-10 col-sm-2">
                            <button class="btn btn-warning form-control" data-target="#modal_Add" data-toggle="modal">เพิ่มข้อมูล</button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table class="table table-bordered tbl_Vaccine" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="hidden">docId</th>
                                    <th class="col-sm-1 text-center">รหัส</th>
                                    <th class="col-sm-2 text-center">ชื่อ (ไทย)</th>
                                    <th class="col-sm-2 text-center">ชื่อ (อังกฤษ)</th>
                                    <th class="col-sm-2 text-center">วิธีใช้</th>
                                    <th class="col-sm-4 text-center">รายละเอียด</th>
                                    <th class="col-sm-1 text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="overlay" style="display:none;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal_Add" style="display: none;">
    <form id="formAdd" class="form-horizontal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียด</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="DocId" class="hidden" readonly />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">รหัส <label style="color:red">*</label></label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="VcCode" required /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">ชื่อ(ไทย) <label style="color:red">*</label></label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="VcName_Th" required /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">ชื่อ(อังกฤษ) <label style="color:red">*</label></label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="VcName_En" required /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">วิธีใช้</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="HowToUse" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">รายละเอียด</label>
                        <div class=" col-sm-10">
                            <textarea class="form-control" name="VcDetail" rows="5" style="resize:none;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">อายุขั้นต่ำ</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="number" step="0" class="form-control" name="LowAgeMonth" />
                                <span class="input-group-addon">เดือน</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="number" step="0" class="form-control" name="LowAgeDay" />
                                <span class="input-group-addon">วัน</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">ใช้ซ้ำทุก</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="number" step="0" class="form-control" name="FrequencyMonth" />
                                <span class="input-group-addon">เดือน</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="number" step="0" class="form-control" name="FrequencyDay" />
                                <span class="input-group-addon">วัน</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" id="mdAdd_btn_Save" class="btn btn-warning"><i class="fa fa-save"></i> บันทึก</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าจอ</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

@section Script {
    <script>
        $('.navbar-nav > li').show();

        var vaccine = {
            api: '/App/Vaccination/VaccineData',
            init: function () {
                var self = this;
                self.event();
                self.loadAll();
            },
            control: {
                container: $('#container'),
                tbl_Vaccine: $('.tbl_Vaccine'),
                modal_Add: $('#modal_Add'),
                formAdd: $('#formAdd'),
            },
            event: function () {
                var self = this;
                self.control.modal_Add.on('show.bs.show.bs.modal', function () {
                    if (self.control.formAdd.find('[name="DocId"]').val() != '') {
                        self.load()
                    }
                })
                self.control.modal_Add.on('hide.bs.hide.bs.modal', function () {
                    self.control.formAdd[0].reset()
                })
                self.control.formAdd.submit(function (e) {
                    e.preventDefault()
                    self.save()
                })
                self.control.tbl_Vaccine.on('click', '[name="btn_Edit"]', function (e) {
                    var currow = $(e.currentTarget).closest('tr');
                    var id = currow.find('td:eq(0)').text()
                    self.control.formAdd.find('[name="DocId"]').val(id)
                    //console.log(id);
                    self.control.modal_Add.modal('show')
                })
            },
            save: function () {
                var self = this;
                self.control.modal_Add.find('.overlay').show()
                $.ajax({
                    url: vaccine.api + '/Save',
                    method: 'POST',
                    data: {
                        formData: self.control.formAdd.serializeToJSON()
                    },
                    success: function (res) {
                        swal(res, '', 'success')
                    },
                    error: function (err) { swal(err, '', 'error') },
                }).done(function () {
                    self.control.modal_Add.find('.overlay').hide()
                    self.control.modal_Add.modal('hide')
                    self.loadAll()
                })
            },
            load: function () {
                var self = this;
                self.control.modal_Add.find('.overlay').show()
                $.ajax({
                    url: vaccine.api + '/GetById',
                    method: 'GET',
                    data: {
                        docId: self.control.formAdd.find('[name="DocId"]').val()
                    },
                    success: function (res) {
                        self.control.formAdd.dejsonify(res)
                    },
                }).done(function () {
                    self.control.modal_Add.find('.overlay').hide();
                });
            },
            loadAll: function () {
                var self = this;
                self.control.container.find('.overlay').show()
                var table = self.control.tbl_Vaccine;
                table.dataTable().fnClearTable();
                table.dataTable().fnDestroy();
                $.ajax({
                    url: vaccine.api + '/List',
                    method: 'GET',
                    success: function (res) {
                        $.each(res, function (i, e) {
                            table.append(`<tr>
                                            <td class="hidden">${e.DocId}</td>
                                            <td>${e.VcCode}</td>
                                            <td>${e.VcName_Th}</td>
                                            <td>${e.VcName_En}</td>
                                            <td>${e.HowToUse}</td>
                                            <td>${e.VcDetail}</td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-info" name="btn_Edit">
                                                    แก้ไข
                                                </button>
                                            </td>
                                          </tr>`);
                        });
                    },
                }).done(function () {
                    table.dataTable({
                        "order": [[1, "asc"]], "dom": '<"pull-right"l><"pull-left"f>rt<"pull-left"i><"pull-right"p>', "language": {
                            "emptyTable": "ไม่มีข้อมูล",
                            "search": "ค้นหา:",
                            "lengthMenu": "แสดง _MENU_ รายการ",
                            "info": "แสดง _START_ ถึง _END_ ของ _TOTAL_ รายการ",
                            "infoEmpty": "แสดง 0 ถึง 0 ของ 0 รายการ",
                            "paginate": {
                                "next": "ถัดไป",
                                "previous": "ย้อนกลับ"
                            },
                        }
                    });
                    self.control.container.find('.overlay').hide();
                });
            },
        }

        $(function () {
            vaccine.init();
        });
    </script>
}